/**
 * style.css
 *
 * 适用于整站的样式规则
 */
@charset "utf-8";
@viewport{width:device-width;}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

/* Flat-UI清理 */
h1,h2,h3 {margin:0;}
h1 {font-size:42px;}
h2 {color:#3e3a39;font-size:28px;font-weight:500;}
.login {color:#111;background:none;padding:0;margin-bottom:0;}

body {color:#3e3a39;font-size:28px;line-height:44px;background-color:#efefef;z-index:100;margin-bottom:98px;}
.container {width:100%;padding:0;/* 去掉BootStrap默认的左右内边距 */}

a {color:#333;text-decoration:none;/* 清理BootStrap样式 */}
	a:hover {color:#999;}
#maincontainer p>a {color:#16a085;padding:0 0.5rem;}

/* 修复BootStrap样式 */
	ul,ol {margin-bottom:0;}
	.row {margin-left:0;margin-right:0;}
		.row>* {padding-left:0;padding-right:0;}
	.label {margin-right:1rem;}
		.label>a {color:#fff;}
	.panel-body {padding:15px 45px;}

	.btn {font-size:28px;line-height:44px;}
	.btn-primary {background-color:#ff5a00;}
	.btn-info {background-color:#fa3651;}
	label, input, .form-control {font-size:28px;}

#header, #breadcrumb {display:none;}

#header {background:linear-gradient(to right, #ff484c, #ff713e);}
	#header>.container {font-size:44px;text-align:center;height:88px;line-height:88px;}
		#header h1 {font-size:44px;line-height:88px;}
			#header h1>a {color:#fff;display:block;width:100%;height:100%;}
		#header>.container>a {color:#fff;position:absolute;top:0;width:88px;height:100%;display:block;}
		#locate {left:0;}
		#scan {right:0;}

/* 页首导航栏 */
#nav-header {background-color:rgba(0,0,0,0.5);position:fixed;top:0;bottom:0;left:0;right:0;z-index:102;overflow:hidden;display:none;} /*窄屏下默认不显示页首导航栏*/
	#nav-header>.container {color:#fff;background-color:#fff;width:0;/* to width:85% */;height:100%;padding-top:44px;overflow-y:scroll;margin:0;}
		#nav-header>.container>* {width:100%;padding:0 2rem;display:block;overflow:hidden;}

		#user-records {text-align:center;}

		#main-nav {background-color:#ff484c;}
			#main-nav li {width:100%;height:44px;line-height:44px;display:inline-block;}
				#main-nav a {color:#fff;width:100%;height:100%;display:block;}
		#tel-flatform-public {color:#999;text-align:right;height:44px;line-height:44px;position:absolute;top:0;}

/* 主导航栏 */
#nav-main {text-align:center;background-color:#fff;position:fixed;bottom:0;left:0;right:0;height:98px;z-index:101;overflow:hidden;}
	#nav-main ul {height:100%;overflow:hidden;}
		#nav-main li {height:100%;float:left;display:inline-block;}
			#nav-main a {width:100%;height:100%;display:block;border-radius:0;padding:0;}
				#nav-main a.btn-primary {}
				#nav-main a.btn-info {}
				#nav-main a.active {background-color:#aaa;}
				#nav-main i, #nav-main img {display:block;}

#footer {text-align:center;}

/* 商家相关样式 */
.biz-name {color:#333;font-size:18px;font-weight:inherit;line-height:inherit;padding:0;margin:0;}

/* 商品相关样式 */
.item-name {color:#333;font-size:18px;font-weight:inherit;line-height:inherit;padding:0;margin:0;}
.digits>span, .digits del {color:#eee;font-size:smaller;}

/* 宽度在750像素以上的设备 */
@media only screen and (min-width:751px)
{
	body {background-position:center top;margin-bottom:0}

	#header, #breadcrumb {display:block;}
	_#header>.container>a {display:none;}
	_#nav-header {background-color:transparent;position:relative;display:block;}

	_#nav-main {display:none;}
}

/* 宽度在960像素以上的设备 */
@media only screen and (min-width:961px)
{
	_.container {width:960px;}

	_#footer {text-align:left;}
}

/* 宽度在1280像素以上的设备 */
@media only screen and (min-width:1281px)
{
	_.container {width:1280px;}
}