<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>退款详情</title>
    <script src="../js/rem.js"></script>
    <link rel="stylesheet" href="../css/fontStyle.css"/>
    <link rel="stylesheet" href="../css/refund.css"/>
    <style>
        .item-count{
            padding-left: 2.5rem;

        }
        .item-count span{
            display: inline-block;
            padding: 0 0.2rem;
            line-height: 0.4rem;
            text-align: center;
        }
        .icon-jian{
            font-size: 0.44rem;
        }
        .item-count .icon-add-add-red:before{
            font-size: 0.44rem;
            color: #FF3649;
        }
        
    </style>
</head>
<body>
<div class="box">









    <div class="placeholder-div"></div>

    <div class="refund-notice status1">
        <div class="refund-res">
            <i class="icon-yituikuan"></i>退款成功</span>
        </div>
        <p class="refund-amount">退款金额：<span>¥39.8</span></p>
        <p class="refund-date">退款时间：<span>2017-09-01 11:09</span></p>
    </div>

    <div class="refund-notice status2">
        <div class="refund-res">
            <i class="icon-daichuli"></i><span>退款处理中</span>
        </div>
        <p class="refund-amount">退款金额：<span>¥39.8</span></p>
    </div>

    <div class="refund-notice status3">
        <div class="refund-res">
            <i class="icon-yiguanbi"></i><span>退款关闭</span>
        </div>
    </div>

    <div class="refund-notice status4">
        <div class="refund-res">
            <i class="icon-yiquxiao"></i><span>退款失败</span>
        </div>
    </div>

    <a class="negotiate">
        <span>协商详情</span><i class="icon-Arrow"></i>
    </a>
    <div class="refund-list">
        <div class="refund-shops"><i class="icon-dianpu"></i>东堂纹身<i class="icon-Arrow"></i></div>
        <div class="refund-goodsName">
            <img src="../media/icon120@3x.png" alt=""/>
            <div class="goods-info">
                <p>新西兰进口黄金奇异果 6个/份</p>
                <p>含有丰富的VC，清热降火，热量极低</p>
            </div>
            <div class="refund-amount">×1</div>
        </div>
        <div class="item-count">
            <i id="jian" class="icon-jian"></i><span class="current-count">1</span><i id="add" class="icon-add-add-red"></i>
        </div>
    </div>
    <div class="refund-info">
        <div class="info-title">
            退款信息
        </div>
        <div class="info-content">
            <p>售后类型：仅退款</p>
            <p>退款金额：¥49.80</p>
            <p>退款原因：协商一致退款</p>
            <p>售后编号：123456765435676</p>
            <p>申请时间：2017-09-01 11:09</p>
        </div>
    </div>
    <div class="refund-operation">
        <span>联系卖家</span><span>拨打电话</span>
    </div>
</div>
<script>
    var status = '1';
    if(status == 1){
        status1.css('display','block');
    }

    $('#add').on('click',function(){
        var num = $('.countNum').val();
        if(num<n){
            num ++;
            $('.countNum').val(num);
        }

    });
    $('#jian').on('click',function(){
        var num = $('.countNum').val();
        if(num>1){
            num --;
            $('.countNum').val(num);
        }

    });
</script>
</body>
</html>