<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>退款售后</title>
    <script src="../js/rem.js"></script>
    <link rel="stylesheet" href="../css/fontStyle.css"/>
    <link rel="stylesheet" href="../css/refund.css"/>
</head>
<body>
    <div class="box">
        <div class="placeholder-div"></div>
        <div class="refund-item">
            <div class="refund-shops"><i class="icon-dianpu"></i>东堂纹身<i class="icon-Arrow"></i></div>
            <div class="refund-goods">
                <img src="../media/icon120@3x.png" alt=""/>
                <div class="goods-info">
                    <p>新西兰进口黄金奇异果 6个/份</p>
                    <p>含有丰富的VC，清热降火，热量极低</p>
                    <p>退款金额：¥49.80</p>
                </div>
                <div class="refund-amount">×1</div>
            </div>
            <div class="refund-results clearfix">
                <div class="results-left"><i class="icon-jintuikuan"></i>仅退款 退款成功</div>
                <div class="results-right"><a href="detail.html">查看详情</a></div>
            </div>
        </div>
        <div class="refund-item">
            <div class="refund-shops"><i class="icon-dianpu"></i>东堂纹身<i class="icon-Arrow"></i></div>
            <div class="refund-goods">
                <img src="../media/icon120@3x.png" alt=""/>
                <div class="goods-info">
                    <p>新西兰进口黄金奇异果 6个/份</p>
                    <p>含有丰富的VC，清热降火，热量极低</p>
                    <p>退款金额：¥49.80</p>
                </div>
                <div class="refund-amount">×1</div>
            </div>
            <div class="refund-goods">
                <img src="../media/icon120@3x.png" alt=""/>
                <div class="goods-info">
                    <p>新西兰进口黄金奇异果 6个/份</p>
                    <p>含有丰富的VC，清热降火，热量极低</p>
                    <p>退款金额：¥49.80</p>
                </div>
                <div class="refund-amount">×1</div>
            </div>
            <div class="refund-results clearfix">
                <div class="results-left"><i class="icon-jintuikuan"></i>仅退款 退款失败</div>
                <div class="results-right"><a href="detail.html">查看详情</a></div>
            </div>
        </div>
    </div>
</body>
</html>