<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>退款申请</title>
		<script src="../js/rem.js"></script>
		<link rel="stylesheet" href="../css/fontStyle.css"/>
		<link rel="stylesheet" href="../css/refund.css"/>
	</head>
	<body>
		<div class="box">
			<div class="placeholder-line"></div>
			<div class="refund-goods-img bgc">
				<div class="goods-title">
					<div class="refund-item">退款商品</div>
					<div class="explain"><span>调整</span></div>
				</div>
				<div class="imgs clearfix">
					<img src="../media/icon120@3x.png" alt=""/>
					<img src="../media/icon120@3x.png" alt=""/>
					<img src="../media/icon120@3x.png" alt=""/>
					<img src="../media/icon120@3x.png" alt=""/>
					<img src="../media/icon120@3x.png" alt=""/>
					<img src="../media/icon120@3x.png" alt=""/>
				</div>
			</div>
			<div class="refund-money bgc">
				<div class="money-title">退款金额<span>¥999.00</span></div>
				<div class="money-message">实际金额与商家协商</div>
			</div>
			<div class="bgc">
				<div class="goods-status">
					<span>货物状态</span>
					<span class="item-status"><i class="icon-un-selected"></i>已收货</span>
					<span class="item-status"><i class="icon-xuanzhong"></i>未收货</span>
				</div>
				<div class="refund-money" style="padding: 0.32rem 0">
					<div class="money-title">退款原因</div>
					<div class="money-message">不想要了<i class="icon-Arrow"></i></div>
				</div>
			</div>
			<div class="refund-goods-img bgc">
				<div class="goods-title">
					<div class="refund-item">相关照片/截图</div>
				</div>
				<div class="imgs clearfix">
					<div class="upLoaderBtn">
						<input class="upLoader" type="file" multiple="multiple" name='file' onchange="upfload(this,'currentAfter')"/>
					</div>
				</div>
			</div>
			<div class="bgc" style="padding: 0.3rem 0.2rem">
				<textarea class="related-description" name="" id="" placeholder="请输入相关描述"></textarea>
			</div>
			<button class="submit-refund">提交申请</button>
		</div>
		<script src="../js/hash.js"></script>
		<script src="../js/jquery-3.2.1.min.js"></script>
		<script>
			var that ='';
			var biz = '222';//传入
			var str='';
			$(function(){
				that=$('.upLoaderBtn');
				$('.item-status').on('click',function(e){
					$('.item-status').children('i').addClass('icon-un-selected').removeClass('icon-xuanzhong');
					$(this).children('i').addClass('icon-xuanzhong').removeClass('icon-un-selected');
				})

			});
			function upfload(obj,ele) {
				var bucketname="jinlaisandbox-images"; //服务名
				var username="jinlaisandbox";	  //操作员账号
				var password="jinlaisandbox";
				var file = $(obj).get(0).files[0];
				var list = $(obj).get(0).files;
				//console.log(list);
				for(var i = 0;i < list.length;i++){
					$('.editContent .loading').show();
					var time= buildFileName(i, biz);
					var save_key="/item/description/"+time;
					var url="https://v0.api.upyun.com/"+ bucketname;
					var fileinfo=document.getElementById("fileinfo");
					var policy=btoa(JSON.stringify({"bucket": bucketname, "save-key": save_key, "x-gmkerl-thumb": "/fwfh/2048x2048/rotate/auto", "expiration": parseInt(Date.parse(new Date())+3600)}));
					var signature="UPYUN jinlaisandbox:"+b64hamcsha1(HexMD5.MD5(password).toString(HexMD5.enc.Hex), "POST&/"+bucketname+"&"+policy);
					var xhrOnProgress=function(fun){
						xhrOnProgress.onprogress=fun;
						return function(){
							var xhr=$.ajaxSettings.xhr();
							if (typeof xhrOnProgress.onprogress!=='function'){
								return xhr;
							}
							if (xhrOnProgress.onprogress&&xhr.upload){
								xhr.upload.onprogress=xhrOnProgress.onprogress;
							}
							return xhr;
						}
					};
					var formData=new FormData();
					formData.append("file",list[i]);
					formData.append("policy",policy);
					formData.append("authorization",signature);
					$.ajax({
						url:url,
						type:"POST",
						data:formData,
						contentType:false,
						processData:false,
						success:function(data, textStatus,xhr){
							console.log(JSON.parse(data).url);
							var code =JSON.parse(data).code;
							console.log(code);
							var imgUrl = JSON.parse(data).url;
							var img =$('<img src="https://jinlaisandbox-images.b0.upaiyun.com' + imgUrl +'" />');
							that.before(img);
							console.log(that);

						},
						error:function(xhr){
							console.log(xhr);
						}
					});
				}
			}
			function buildFileName(s, bizId) {
				var objD = new Date();
				var timeStr;
				var yy = objD.getYear();
				if (yy < 1900) yy = yy + 1900;
				var MM = objD.getMonth() + 1;
				if (MM < 10) MM = '0' + MM;
				var dd = objD.getDate();
				if (dd < 10) dd = '0' + dd;
				var hh = objD.getHours();
				if (hh < 10) hh = '0' + hh;
				var mm = objD.getMinutes();
				if (mm < 10) mm = '0' + mm;
				var ss = objD.getSeconds()+s;
				if (ss < 10) ss = '0' + ss;
				bizId = bizId.toString();
				timeStr = yy + '/' + MM + dd + '/' + hh + mm + ss + bizId + '.jpg';
				return timeStr;
			}
		</script>
	</body>
</html>
