<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<title></title>
		<!--清除浏览器默认样式css-->
		<link href="css/normal.css" rel="stylesheet"/>
		<!--公用部分css-->
		<link href="css/common.css" rel="stylesheet"/>
		<link href="css/base.css" rel="stylesheet"/>
		<link href="css/index.css" rel="stylesheet"/>
		<style>
			.swiper-scrollbar{
				display: none;
			}
		</style>
	</head>
	<body>
		
	</body>
</html>
