<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>选择服务类型</title>
    <script src="../js/rem.js"></script>
    <link rel="stylesheet" href="../css/fontStyle.css"/>
    <link rel="stylesheet" href="../css/refund.css"/>
</head>
<body>
    <div class="box">
        <div class="refund-type">
            <i class="icon-jintuikuan"></i>
            <div class="only-refund">
                <p class="only-refund-title">仅退款</p>
                <p class="only-refund-content">未收到货（包含未签收），或卖家协商同意前提下</p>
            </div>
            <i class="icon-Arrow"></i>
        </div>
        <div class="refund-type">
            <i class="icon-tuihuotuikuan"></i>
            <div class="only-refund">
                <p class="only-refund-title">退货退款</p>
                <p class="only-refund-content">未收到货（包含未签收），或卖家协商同意前提下</p>
            </div>
            <i class="icon-Arrow"></i>
        </div>
    </div>
</body>
</html>