<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>商品选择列表</title>
    <script src="../js/rem.js"></script>
    <link rel="stylesheet" href="../css/fontStyle.css"/>
    <link rel="stylesheet" href="../css/refund.css"/>
</head>
<body>
    <div class="box">
        <div class="placeholder-line"></div>
        <div class="bgc">
            <div class="item-list">
                <i class="icon-un-selected"></i>
                <img class="item-img" src="../media/icon120@3x.png" alt=""/>
                <div class="item-info">
                    <p class="item-name">越南红心火龙果5斤（约400/个）进口水果</p>
                    <p class="item-introduce">含有丰富的VC，清热降火，热量极低</p>
                    <p class="item-money"><span class="item-price">¥49.50<del>¥49.50</del></span><span class="item-quantity">×2</span></p>
                </div>
            </div>
            <div class="item-list">
                <i class="icon-un-selected"></i>
                <img class="item-img" src="../media/icon120@3x.png" alt=""/>
                <div class="item-info">
                    <p class="item-name">越南红心火龙果5斤（约400/个）进口水果</p>
                    <p class="item-introduce">含有丰富的VC，清热降火，热量极低</p>
                    <p class="item-money"><span class="item-price">¥49.50<del>¥49.50</del></span><span class="item-quantity">×2</span></p>
                </div>
            </div>
            <div class="item-list">
                <i class="icon-un-selected"></i>
                <img class="item-img" src="../media/icon120@3x.png" alt=""/>
                <div class="item-info">
                    <p class="item-name">越南红心火龙果5斤（约400/个）进口水果</p>
                    <p class="item-introduce">含有丰富的VC，清热降火，热量极低</p>
                    <p class="item-money"><span class="item-price">¥49.50<del>¥49.50</del></span><span class="item-quantity">×2</span></p>
                </div>
            </div>
            <div class="item-list">
                <i class="icon-un-selected"></i>
                <img class="item-img" src="../media/icon120@3x.png" alt=""/>
                <div class="item-info">
                    <p class="item-name">越南红心火龙果5斤（约400/个）进口水果</p>
                    <p class="item-introduce">含有丰富的VC，清热降火，热量极低</p>
                    <p class="item-money"><span class="item-price">¥49.50<del>¥49.50</del></span><span class="item-quantity">×2</span></p>
                </div>
            </div>
        </div>
        <div class="all-selected">
            <div class="all-selected-btn">
                <i class="icon-un-selected"></i><span>全选</span>
            </div>
            <div class="next-btn">
                下一步
            </div>
        </div>
    </div>

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script>
        $(function(){
            $('.item-info').last().css('border','none')
        })
    </script>
</body>
</html>