<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<title></title>
		<!--清除浏览器默认样式css-->
		<link href="css/normal.css" rel="stylesheet"/>
		<!--公用部分css-->
		<link href="css/common.css" rel="stylesheet"/>
		<link href="css/base.css" rel="stylesheet"/>
		<link href="css/swiper.css" rel="stylesheet"/>
		<link href="css/index.css" rel="stylesheet"/>
		<link href="css/alert.css" rel="stylesheet"/>
		<style>
			.swiper-scrollbar{
				display: none;
			}
			.classification .swiper-slide {
	    height: .92rem;
	    width: 23%;
	    float: left;
	    border-radius: .15rem;
	    position: relative;
	    overflow: hidden;
}
			.downarrow{
				left: .75rem;
			}
		</style>
	</head>
	<body>
		<!--头部banner区域开始-->
		<div class="bannerWrap auto">
			<div class="swiper-container">
	        <div class="swiper-wrapper">
	            <div class="swiper-slide">
	            	<img src="media/slider1-2.png" />
	            </div>
	            <div class="swiper-slide">
	            	<img src="media/slider1-2.png" />
	            </div>
	            <div class="swiper-slide">
	            	<img src="media/slider1-1.png" />
	            </div>
	            <div class="swiper-slide">
	            	<img src="media/slider1-2.png" />
	            </div>
	        </div>
	        <!-- Add Pagination -->
	        <div class="swiper-pagination"></div>
	    </div>
	</div>
	<!--培训分类区域开始-->
	<div class="classification auto">
		<div class="swiper-container5">
        <div class="swiper-wrapper">
			<div class="swiper-slide">
				<p class="colorarea colorareaRed">
				</p>
				<div class="move">
					<span class="titletext">生鲜水果</span>
					<span class="smalltitle smallcolor_one">FRESH FRUIT</span>
				</div>
				<img src="media/slider1-1.png" />
				<div class="downarrow"></div>
			</div>
			<div class="swiper-slide">
				<p class="colorarea colorareaYellow">
				</p>
				<div class="move">
				<span class="titletext">进口零食</span>
				<span class="smalltitle smallcolor_two">APPLE</span>
				</div>
				<img src="media/slider1-2.png" />
				<div class="downarrow arrYellow"></div>
			</div>
			<div class="swiper-slide">
				<p class="colorarea colorareaBlue">
				</p>
				<div class="move">
				<span class="titletext">饮品名酒</span>
				<span class="smalltitle smallcolor_three">FRESH FRUIT</span>
				</div>
				<img src="media/slider1-1.png" />
				<div class="downarrow arrBlue"></div>
			</div>
			<div class="swiper-slide">
				<p class="colorarea colorareaRed">
				</p>
				<div class="move">
					<span class="titletext">洗护美妆</span>
					<span class="smalltitle smallcolor_one">FRESH FRUIT</span>
				</div>
				<img src="media/slider1-1.png" />
				<div class="downarrow"></div>
			</div>
			<!--<div class="swiper-slide">
				<p class="colorarea colorareaPink"></p>
				<div class="move">
				<span class="titletext">生活用品</span>
				<span class="smalltitle smallcolor_four">GRUNT</span>
				</div>
				<img src="media/slider1-1.png" />
				<div class="downarrow arrPink"></div>
			</div>-->
			<!--<div class="swiper-slide">
				<p class="colorarea colorareaRed">
				</p>
				<div class="move">
					<span class="titletext">外语培训</span>
					<span class="smalltitle smallcolor_one">FRESH FRUIT</span>
				</div>
				<img src="media/slider1-1.png" />
				<div class="downarrow"></div>
			</div>
			<div class="swiper-slide" style="margin-right: 0;">
				<p class="colorarea colorareaGreen">
				</p>
				<div class="move">
				<span class="titletext">生活兴趣</span>
				<span class="smalltitle smallcolor_five">DRINK</span>
				</div>
				<img src="media/slider1-2.png" />
				<div class="downarrow arrGreen"></div>
			</div>-->
		 <div class="swiper-scrollbar"></div>
		</div>
	</div>
	</div>
	<!--分类总-->
	<!--<div class="freshsupertitle border20 auto bgfff">
		<a>进来推荐</a>
		<a>品类水果</a>
		<a>蔬菜蛋品</a>
		<a>新鲜肉类</a>
		<a>海鲜水产</a>
		<a style="padding-right: 0;">奶制品</a>
	</div>-->

	<!--立即体验区域开始-->
	<div class="experience wid710 auto">
		<div class="experience_one fr">
			<div class="title">
				<img src="media/home/title.png" class="fl"/>
			</div>
			<div class="goodpic auto">
				<img src="media/slider1-2.png"/>
			</div>
			<h1>芝麻街英语芝麻街英语芝麻街英语</h1>
			<h2>英语的领导品牌</h2>
			<a href="###" class="atonce price_market">12.5/斤</a>
			<div class="market_buycar">
					<i class="icon-buy"></i>
				</div>
		</div>
		<div class="experience_two fl">
			<div class="card_one ml0">
				<img src="media/slider1-2.png" class="fl"/>
				<h1 class="mt10">沃尔德国际英语</h1>
				<h2>英语的领导品牌</h2>
				<a href="###" class="atonce atonce_r price_market">12.5/斤</a>
				<!--<div class="lowerprice">
					<span>89%</span>
					<span>discount</span>
				</div>-->
				<div class="market_buycar">
					<i class="icon-buy"></i>
				</div>
			</div>
			<div class="card_one mt10 ml0">
				<img src="media/slider1-2.png" class="fl"/>
				<h1 class="mt10">沃尔德国际英语</h1>
				<h2>英语的领导品牌</h2>
				<a href="###" class="atonce atonce_r price_market">12.5/斤</a>
				<!--<div class="lowerprice">
					<span>20%</span>
					<span>discount</span>
				</div>-->
				<div class="market_buycar">
					<i class="icon-buy"></i>
				</div>
				
			</div>
		</div>
	</div>
		<div class="fruiteContent wid710 auto mt10 border20 bgfff clearfix">
		<ul class="clearfix">
			<li>
				<div class="pic">
					<img src="https://cdn-remote.517ybang.com/media/home/cainixihuan/cnxh/210x210_2.jpg"/>
				</div>
				<h1>美国蓝莓</h1>
				<h2>¥29.9/斤</h2>
			</li>
			<li>
				<div class="pic">
					<img src="https://cdn-remote.517ybang.com/media/home/cainixihuan/cnxh/210x210_2.jpg"/>
				</div>
				<h1>美国蓝莓</h1>
				<h2>¥29.9/斤</h2>
			</li>
			<li>
				<div class="pic">
					<img src="https://cdn-remote.517ybang.com/media/home/cainixihuan/cnxh/210x210_2.jpg"/>
				</div>
				<h1>美国蓝莓</h1>
				<h2>¥29.9/斤</h2>
			</li>
			<li>
				<div class="pic">
					<img src="https://cdn-remote.517ybang.com/media/home/cainixihuan/cnxh/210x210_2.jpg"/>
				</div>
				<h1>美国蓝莓</h1>
				<h2>¥29.9/斤</h2>
			</li>
		</ul>
		
	</div>
	<!--分类区域开始-->
	<div class="tab">
		<a class="" href="javascript:;">全部</a>
		<a href="javascript:;" class="active">人气优先</a>
		<a href="javascript:;">距离优先</a>
	</div>
	<div class="swiper-container6 swiper-container-horizontal">
		<div class="swiper-wrapper w" style="transform: translate3d(0px, 0px, 0px);">
			<div class="swiper-slide d swiper-slide-active">
				<div class="init-loading list-group-item text-center" style="display: none;">下拉可以刷新</div>
				<div class="swiper-container7 swiper-container-horizontal">
				<div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-392px, 0px, 0px);">
					<div class="swiper-slide list-group swiper-slide-prev" style="width: 392px;">
						<div class="list-group-item">
							<div class="list">
			            		<img src="media/slider1-2.png" class="fl">
			            		<div class="listtext fr">
		            			<!--显示距离-->
		            			<span class="area">0.3km</span>
		            			<h1>韦博英语韦博英语韦博英语韦博英语韦博英语(麦岛分路店)</h1>
		            			<!--五星区域-->
		            			<div class="star">
		            				<ul>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            				</ul>
            				</div>
            			<div class="tag">
            				麦岛路沿线   英语
            			</div>
            			<div class="allbuy">
            				<span class="tuan">团</span>
            				<span>99元 单人体验一次</span>
            			</div>
            		</div>
            	</div>
            	<div class="list">
			            		<img src="media/slider1-2.png" class="fl">
			            		<div class="listtext fr">
		            			<!--显示距离-->
		            			<span class="area">0.3km</span>
		            			<h1>韦博英语韦博英语韦博英语韦博英语韦博英语(麦岛分路店)</h1>
		            			<!--五星区域-->
		            			<div class="star">
		            				<ul>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            				</ul>
            				</div>
            			<div class="tag">
            				麦岛路沿线   英语
            			</div>
            			<div class="allbuy">
            				<span class="tuan">团</span>
            				<span>99元 单人体验一次</span>
            			</div>
            		</div>
            	</div>
						</div>
						
					</div>
					<div class="swiper-slide list-group swiper-slide-active" style="width: 392px;">
						<div class="list-group-item">
							<div class="list">
			            		<img src="media/slider1-2.png" class="fl">
			            		<div class="listtext fr">
		            			<!--显示距离-->
		            			<span class="area">0.3km</span>
		            			<h1>韦博英语韦博英语韦博英语韦博英语韦博英语(麦岛分路店)</h1>
		            			<!--五星区域-->
		            			<div class="star">
		            				<ul>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            				</ul>
            				</div>
            			<div class="tag">
            				麦岛路沿线   英语
            			</div>
            			<div class="allbuy">
            				<span class="tuan">团</span>
            				<span>99元 单人体验一次</span>
            			</div>
            		</div>
            	</div>
						</div>
						
					</div>
					<div class="swiper-slide list-group swiper-slide-next" style="width: 392px;">
						<div class="list-group-item">
							<div class="list">
			            		<img src="media/slider1-2.png" class="fl">
			            		<div class="listtext fr">
		            			<!--显示距离-->
		            			<span class="area">0.3km</span>
		            			<h1>韦博英语韦博英语韦博英语韦博英语韦博英语(麦岛分路店)</h1>
		            			<!--五星区域-->
		            			<div class="star">
		            				<ul>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            				</ul>
            				</div>
            			<div class="tag">
            				麦岛路沿线   英语
            			</div>
            			<div class="allbuy">
            				<span class="tuan">团</span>
            				<span>99元 单人体验一次</span>
            			</div>
            		</div>
            	</div>
						</div>
						<div class="list-group-item">
							<div class="list">
			            		<img src="media/slider1-2.png" class="fl">
			            		<div class="listtext fr">
		            			<!--显示距离-->
		            			<span class="area">0.3km</span>
		            			<h1>韦博英语韦博英语韦博英语韦博英语韦博英语(麦岛分路店)</h1>
		            			<!--五星区域-->
		            			<div class="star">
		            				<ul>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            				</ul>
            				</div>
            			<div class="tag">
            				麦岛路沿线   英语
            			</div>
            			<div class="allbuy">
            				<span class="tuan">团</span>
            				<span>99元 单人体验一次</span>
            			</div>
            		</div>
            	</div>
            	<div class="list">
			            		<img src="media/slider1-2.png" class="fl">
			            		<div class="listtext fr">
		            			<!--显示距离-->
		            			<span class="area">0.3km</span>
		            			<h1>韦博英语韦博英语韦博英语韦博英语韦博英语(麦岛分路店)</h1>
		            			<!--五星区域-->
		            			<div class="star">
		            				<ul>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            					<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            					<li>
		            						<i class="icon-weixuanzhong2"></i>
		            					</li>
		            				</ul>
            				</div>
            			<div class="tag">
            				麦岛路沿线   英语
            			</div>
            			<div class="allbuy">
            				<span class="tuan">团</span>
            				<span>99元 单人体验一次</span>
            			</div>
            		</div>
            	</div>
						</div>
						
					</div>
				</div>
				</div>
			</div>
		</div>
		<!--<div class="loadtip">上拉加载更多</div>
		<div class="swiper-scrollbar"></div>-->
	</div>
	</body>
	<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
	<script type="text/javascript" src="js/rem.js" ></script>
	<script type="text/javascript" src="js/swiper.min.js" ></script>
	<script type="text/javascript" src="js/alert.js" ></script>
	<script src="js/educationclassification.js"></script>
</html>
