<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<title></title>
		<!--清除浏览器默认样式css-->
		<link href="css/normal.css" rel="stylesheet"/>
		<!--公用部分css-->
		<link href="css/common.css" rel="stylesheet"/>
		<link href="css/base.css" rel="stylesheet"/>
		<link href="css/swiper.css" rel="stylesheet"/>
		<link href="css/index.css" rel="stylesheet"/>
	</head>
	<body>
		<!--卡片式广告公用部分-->
		<div class="card-ad wid710 auto pdt20">
			<div class="cardtitle colorareaBlue">
				<span class="companytitle">企业入驻</span>
				<span class="description">Enterprises settled</span>
			</div>
			<div class="cardcontent mt10">
				<img src="img/slider1-1.png" />
			</div>
			
			<!--入驻企业特权开始-->
			<div class="privilege">
				<h1>进来入驻企业特权</h1>
				<h2>Membership Privileges</h2>
				<div class="piclist">
					 <div class="column">
					    <div class="item">
					    	<img src="img/slider1-2.png" />
					    </div>
					    <div class="item">
					    	<img src="img/slider1-1.png" />
					    </div>
					  </div>
					  <div class="column">
					    <div class="item">
					    	<img src="img/slider1-1.png" />
					    </div>
					    <div class="item">
					    	<img src="img/slider1-2.png" />
					    </div>
					  </div>
				</div>
			</div>
			
			<!--我要开店-->
		<div class="card-ad wid710 auto pdt20">
			<div class="cardtitle colorareaYellow">
				<span class="companytitle">我要开店</span>
				<span class="description">I want to open a shop</span>
			</div>
			<div class="cardcontent mt10">
				<img src="img/slider1-1.png" />
			</div>
		</div>
		
		<!--物流合作-->
		<div class="card-ad wid710 auto pdt20">
			<div class="cardtitle colorareaRed">
				<span class="companytitle">物流合作</span>
				<span class="description">Logistics cooperation</span>
			</div>
			<div class="cardcontent mt10">
				<img src="img/slider1-1.png" />
			</div>
		</div>
		<!--广告合作-->
		<div class="card-ad wid710 auto pdt20">
			<div class="cardtitle colorareaGreen">
				<span class="companytitle">广告合作</span>
				<span class="description">Advertising Cooperation</span>
			</div>
			<div class="cardcontent mt10">
				<img src="img/slider1-1.png" />
			</div>
		</div>
		<!--广告案例展示-->
		<div class="ad-show auto">
			<div class="ad-show-pic fl">
				<img src="img/slider1-2.png" />
			</div>
			<div class="add-show-text fl">
				<span class="block colorareaGreen line"></span>
				<h1>广告案例展示</h1>
				<h2>Case Show</h2>
			</div>
			
		</div>
		<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
		<script type="text/javascript" src="js/rem.js" ></script>
	</body>
</html>
