
		<!--topbanner区域开始-->
		<div class="invite-top-banner">
			<img src="media/invite/top-banner.png" />
		</div>
		<!--content区域开始-->
		<div class="invite-content wid710 auto">
			<!--最上边的图片-->
			<img src="media/invite/upper.png" />
			<!--中间部分内容-->
			<!--头像-->
			<div class="bgfff invitecontentbg">
			<!--<div class="pic">
				<img src="media/invite/Coupon.png" />
			</div>-->
			<!--<span class="name">YUFEIHONG</span>-->
			<p>您的好友送您<span>388元</span>红包,</p>
			<p style="padding-top: 0rem;padding-bottom: .6rem;">邀请您一起进来!</p>
			<!--<div class="dottedbg">
				<span>¥</span>
				388
			</div>-->
				<input type="text" class="codewrap" placeholder="请输入您的兑换码" maxlength="14"/>
			<a href="###">立即使用</a>
			</div>
			<!--最下边的图片-->
			<img src="media/invite/lower.png" />
		</div>
		
		<!--邀请好友框-->
		<div class="invitefriend">
			<a href="###"></a>
		</div>
		<div class="fiex bgfff invitefooter">
			<div class="logo fl">
				<img src="media/invite/logo.png">
			</div>
			<h1 class="fl">进来,青岛人自己的<br>品控网购平台!</h1>
			<a href="###" class="focus fr">
				关注
			</a>
		</div>
