<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,user-scalable=0">
		<link href="https://cdn-remote.517ybang.com/css/normal.css" rel="stylesheet">
		<!--公用部分css-->
		<link href="https://cdn-remote.517ybang.com/css/common.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/base.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/swiper.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/index.css" rel="stylesheet">
		<script src="https://cdn-remote.517ybang.com/js/jquery-2.1.4.min.js"></script>
		<script src="https://cdn-remote.517ybang.com/js/rem.js"></script>
		<style>
			.bg{
				display: block;
				width: 7.5rem;
				height: 13.35rem;
				position: absolute;
				top: 0px;
				left: 0px;
			}
			html,body{
				height: 100%;
				position: relative;
				overflow-x: hidden;
			}
			img{
				display: block;
				width: 100%;
			}
			a{
				color: #fff;
				font-size: .18rem;
			}
			
		</style>
	</head>
	<body>
		<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/gdbeijing.jpg" class="bg"/>
		<a class="star_01">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/xingqiu2@3x.png"/>
		</a>
		<a class="star_02">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/xingqiu1@3x.png"/>
		</a>
		<a class="star_03">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/xinqiu5@3x.png"/>
		</a>
		<a class="star_04">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/design@3x.png"/>
			<span class="hightext">定制设计</span>
			<span class="hightexteng">Design</span>
		</a>
		<a class="star_05">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/furniture@3x.png"/>
			<span class="hightext">定制家具</span>
			<span class="hightexteng">Furtinure</span>
		</a>
		<a class="star_06">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/xingqiu3@3x.png"/>
		</a>
		<a class="star_07">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/science@3x.png"/>
			<span class="hightext environmentcur">定制环境</span>
			<span class="hightexteng environmentcureng">Environmental Science</span>
		</a>
		<a class="star_08">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/custom@3x.png"/>
			<span class="hightext">定制衣服</span>
			<span class="hightexteng">Custom clothes</span>
		</a>
		<a class="star_09">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/dingzhiyifu@3x.png"/>
			<span class="hightext">定制衣服</span>
		</a>
		<a class="star_10">
			<img src="https://cdn-remote.517ybang.com/media/gaoduandingzhi/xingqiu4@3x.png"/>
		</a>
	</body>
</html>
