
		<style>
			body{
				background: #fff;
			}
		</style>

		<div class="sharetop auto wid710">
			
		</div>
		<div class="redcard">
			<span>¥</span>
			388
			<span>元</span>
		</div>
		<p class="sharetext" style="padding-top: .22rem;">邀请好友加入进来,</p>
			<p class="sharetext">给他/她发放388元红包,好友完成下单,<p>
			<p class="sharetext">你亦获得388元红包</p>
		
		<div class="shareprogress">
			<p></p>
			<span>0</span>
			<span class="two">2</span>
			<span class="five">5</span>
		</div>
		<div class="nosharetext">
			<span>尚未成功邀请好友,</span>
			<span>立即分享吧!</span>
		</div>
		<div class="invitecode auto">
			<h1>您的专属邀请码</h1>
			<span>JLA8E7Y5F4QQ</span>
			<a href="###">我的邀请码
				<i class="arrow-right">
					<img src="https://cdn-remote.517ybang.com/media/invite/fenxiangyouli-arrow.png" />
				</i>
			</a>
		</div>
		<div class="evergetcodetext">
			您已邀请<span>2</span>位好友,  |  获得<span>0</span>元礼券
		</div>
		<div class="sharetable wid670 auto">
			<table>
					<tr>
				<td class="tdtitle">5人</td>
				<td class="tdbnone">额外奖励100元</td>
			</tr>
			<tr>
				<td class="tdtitle">5人</td>
				<td class="tdbnone">额外奖励100元</td>
			</tr>
			<tr>
				<td class="tdtitle">5人</td>
				<td class="tdbnone">额外奖励100元</td>
			</tr>
			<tr>
				<td class="tdtitle">5人</td>
				<td class="tdbnone">额外奖励100元</td>
			</tr>
				
			</table>
		
		</div>
		<!--奖励明细-->
		<div class="awardlist">
			<span></span>
			<a>奖励明细</a>
			<span style="right: 0px;"></span>
		</div>
		<div class="awardlistcontent auto">
			<ul>
				<li>
					<span class="fl">EGFDFF4FFDE</span>
					<span class="fr">已注册</span>
				</li>
				<li>
					<span class="fl">EGFDFF4FFDE</span>
					<span class="fr">已注册</span>
				</li>
				<li>
					<span class="fl">EGFDFF4FFDE</span>
					<span class="fr">已注册</span>
				</li>
			</ul>
		</div>
		<div class="fiex sharefooter">
			<span class="fl">
				进来 COME IN!
			</span>
			<a href="###" class="fr">
				即可邀请
			</a>
		</div>
