<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="../js/rem.js"></script>
    <link rel="stylesheet" href="../css/fontStyle.css"/>
    <link rel="stylesheet" href="../css/normal.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/order.css"/>
    <style>
        .terminable{
            font-size: 0.22rem;color: #9FA0A0;
            padding-right: 0.25rem;

        }
    </style>
</head>
<body>
<div class="box">
    <div class="line"></div>

    <div class="order-content">
        <div class="order-list">
            <div class="item-title clearfix price-info">
                <div class="title-left left-float"><span>团购券</span></div>
                <div class="title-right right-float"><span class="terminable">有效期至</span></div>
            </div>
            <div class="total-box">
                <div class="total"><span>验证码</span><span style="font-size: 0.24rem;color: #ff3649;">申请退款</span></div>
            </div>
        </div>
    </div>
    <div class="price-type">
        <div class="price-info">商家信息</div>
        <div class="total-box">
            <div class="total"><span>麻辣天下</span><span> </span></div>
            <div class="total"><span style="font-size: 0.22rem;color: #9FA0A0;">地址</span><span> 电话icon </span></div>
        </div>
    </div>
    <div class="price-type">
        <div class="price-info">商家信息</div>
        <div class="total-box">
            <div class="total" style="color: #9FA0A0;">订单编号：<span>123</span><span> </span></div>
            <div class="total" style="color: #9FA0A0;">手机号：<span>123</span><span> </span></div>
            <div class="total" style="color: #9FA0A0;">付款时间：<span>132</span><span> </span></div>
            <div class="total" style="color: #9FA0A0;">实付：<span>132</span><span> </span> </div>
        </div>
    </div>

</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script>

    $(document).ready(function(){



    })


</script>
</body>
</html>