<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>短信登录</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="../js/rem.js"></script>
    <link rel="stylesheet" href="../css/fontStyle.css"/>
    <link rel="stylesheet" href="../css/account.css"/>
</head>
<body>
<div class="box">
    <div class="error-tips">
        <p class="tips-text"></p>
        <i class="icon-failure"></i>
    </div>
    <div style="height: 5rem; padding-top: 1.4rem;">
        <div class="input-box clearfix">
            <div class='input-item'>
                <label class="label" for="mobile"><img class="tel-icon" src="../media/account/login/shouji@3x.png" alt=""/></label>
                <div class="tel-input">
                    <input id="mobile" name="mobile" class="input" type="tel" size=11  placeholder="请输入手机号" required />
                    <img class="no-icon tel" src="../media/account/login/no@3x.png" alt=""/>
                </div>
            </div>

            <div>
                <div class='input-item'>
                    <label class="label" for="verification"><img class="tel-icon" src="../media/account/login/mima@3x.png" alt=""/></label>
                    <div class="tel-input">
                        <input id="verification" name="verification" class="input" type="number" value="" size=11 pattern="\d{11}" placeholder="请输入验证码" required />
                        <img class="no-icon ver" src="../media/account/login/no@3x.png" alt=""/>
                    </div>

                    <div class="ver-btn">获取验证码</div>
                </div>
            </div>

        </div>


        <div id="submit" class="next">
            <img class="next-btn" src="../media/account/login/degnlu@3x.png" alt=""/>
        </div>

        <div class="login_sms">智能登录</div>
    </div>


</div>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/account.js"></script>
</body>
</html>