<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>智能登录</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script>
        (function (doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        if (!clientWidth) return;
                        if(clientWidth>=750){
                            docEl.style.fontSize = '100px';
                        }else{
                            docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                        }
                    };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);

    </script>

    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/fontStyle.css"/>
	
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/account.css"/>
</head>
<body style="background-color: #efefef; ">
<div class="header">
    <div class="header-top clearfix">
        <div class="header-img"><img src="https://cdn-remote.517ybang.com/media/account/mine/logo.png" alt=""/></div>
        <div class="header-name">
            <div class="nick-name">小王</div>
            <div class="member"></div>
        </div>
        <div class="header-news">
            <!--图标-->
            <i class="icon-chat">
            </i>
        </div>
    </div>
    <div class="header-bot">
        <div class="bot-float">
            <i class="icon-guanzhu"></i>
            <p>关注店铺</p>
        </div>
        <div class="bot-float">
            <i class="icon-shoucang2"></i>
            <p>收藏宝贝</p>
        </div>
        <div class="bot-float">
            <i class="icon-kanguode"></i>
            <p>我看过的</p>
        </div>
        <div class="bot-float">
            <i class="icon-huiyuan-2"></i>
            <p>会员卡</p>
        </div>
    </div>
</div>
<div class="mine-order">
    <div class="order-title">
        <div class="title-left">我的订单</div>
        <div class="title-right">全部订单<i class="icon-Arrow"></i></div>
    </div>
    <div class="order-item clearfix">
        <div class="item-list">
            <i class="icon-daifukuan"></i>
            <p>待付款</p>
        </div>
        <div class="item-list">
            <i class="icon-daifahuo"></i>
            <p>待发货</p>
        </div>
        <div class="item-list">
            <i class="icon-daishouhuo"></i>
            <p>待收货</p>
        </div>
        <div class="item-list">
            <i class="icon-daipingjia"></i>
            <p>待评价</p>
        </div>
        <div class="item-list">
            <i class="icon-jintuikuan"></i>
            <p>退款售后</p>
        </div>
    </div>
</div>
<div class="mine-order">
    <div class="order-title">
        <div class="title-left">团购订单</div>
        <div class="title-right">全部订单<i class="icon-Arrow"></i></div>
    </div>
    <div class="order-item clearfix">
        <div class="item-team">
            <i class="icon-daifukuan"></i>
            <p>待付款</p>
        </div>
        <div class="item-team">
            <i class="icon-daishiyong"></i>
            <p>待使用</p>
        </div>
        <div class="item-team">
            <i class="icon-daipingjia"></i>
            <p>待评价</p>
        </div>
        <div class="item-team">
            <i class="icon-jintuikuan"></i>
            <p>退款售后</p>
        </div>
    </div>
</div>
<div class="mine-order">
    <div class="order-title">
        <div class="title-left">我的服务</div>
    </div>
    <div class="order-item clearfix">
        <div class="item-service">
            <i class="icon-yue2"></i>
            <p>余额</p>
        </div>
        <div class="item-service">
            <i class="icon-kabao2"></i>
            <p>卡包</p>
        </div>
        <div class="item-service">
            <i class="icon-jifen"></i>
            <p>积分</p>
        </div>
    </div>
    <div class="order-item clearfix">
        <div class="item-service">
            <i class="icon-yaoqinghaoyou"></i>
            <p>邀请好友</p>
        </div>
        <div class="item-service">
            <i class="icon-hezuo"></i>
            <p>商家合作</p>
        </div>
        <div class="item-service">
            <i class="icon-hongka"></i>
            <p>进来红卡</p>
        </div>
    </div>
    <div class="order-item clearfix">
        <div class="item-service">
            <i class="icon-dizhiguanli"></i>
            <p>地址管理</p>
        </div>
        <div class="item-service">
            <i class="icon-shezhi"></i>
            <p>账户设置</p>
        </div>
        <div class="item-service">
            <i class="icon-guanyuwomen"></i>
            <p>关于我们</p>
        </div>
    </div>
</div>
<!--<div class="mine-order">
    <div class="sing-out-btn"><i class="icon-xiazai"></i> 进来APP下载</div>
</div>-->
<div class="bank">
    <div class="bank-name">平安银行 <span>(会员权益)</span></div>
    <div class="bank-item clearfix">
        <div class="item-service">
            <i class="icon-huiyuanquanyi"></i>
            <p>会员权益</p>
        </div>
        <div class="item-service" style="padding-top: 0.25rem">
            <i class="icon-shenqing"></i>
            <p style="padding-top: 0.18rem">申请信用卡</p>
        </div>
        <div class="item-service" style="padding-top: 0.25rem">
            <i class="icon-jiekuan"></i>
            <p style="padding-top: 0.18rem">申请借款</p>
        </div>
    </div>
</div>
</body>
</html>