<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="../js/rem.js"></script>
    <link rel="stylesheet" href="../css/fontStyle.css"/>
    <link rel="stylesheet" href="../css/account.css"/>
</head>
<body>
<div class="box">
    <div class="error-tips">
        <p class="tips-text"></p>
        <i class="icon-failure"></i>
    </div>
    <div style="height: 5rem; padding-top: 1.4rem;">
        <form action="" method="post">
            <div class="input-box clearfix">
                <div class='input-item'>
                    <label class="label" for="password"><img class="tel-icon" src="../media/account/login/shouji@3x.png" alt=""/></label>
                    <div class="tel-input">
                        <input id="password" name="password_current" class="input" type="password"  placeholder="请输入原始密码" required />
                        <img class="no-icon pass" src="../media/account/login/no@3x.png" alt=""/>
                    </div>
                </div>

                <div class="ver-box" >
                    <div class='input-item' style="height: 0.8rem;margin:0 0 0.3rem 0">
                        <label class="label" for="password1"><img class="tel-icon" src="../media/account/login/mima@3x.png" alt=""/></label>
                        <div class="tel-input">
                            <input id="password1" name="password" class="input" type="password" value=""  placeholder="请输入新密码" required />
                            <img class="no-icon pass1" src="../media/account/login/no@3x.png" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="ver-box" >
                    <div class='input-item' style="height: 0.8rem;margin:0 0 0.3rem 0">
                        <label class="label" for="password2"><img class="tel-icon" src="../media/account/login/mima_qr@3x.png" alt=""/></label>
                        <div class="tel-input">
                            <input id="password2" name="password_confirm" class="input" type="password" value="" placeholder="请确认新密码" required />
                            <img class="no-icon pass2" src="../media/account/login/no@3x.png" alt=""/>
                        </div>
                    </div>
                </div>

            </div>
           <!-- <input id="submit-change" type="submit" value=""/>-->
            <button id="submit-change" class="next" type="submit">
                <img class="next-btn" src="../media/account/login/wancheng@3x.png" alt=""/>
            </button>
        </form>


    </div>


</div>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/account.js"></script>
</body>
</html>