<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>地址列表</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="../js/rem.js"></script>
    <link rel="stylesheet" href="../css/fontStyle.css"/>
    <link rel="stylesheet" href="../css/normal.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/address.css"/>
    <style>
        body{
            width: 100%;background-color: #F2F2F3; height: 100%
        }
    </style>
</head>
<body>
<div class="box">
    <div class="address-list">
        <a class="address-title clearfix">
            <div class="title-left"><span class="address-type">家</span>谭女士</div>
            <div class="title-right">139****2419</div>
        </a>
        <a class="address-content">
            <p>青岛市崂山区</p>
            <p>东海东路1号，麦岛金岸，意帮3层</p>
        </a>
        <div class="address-operation clearfix">
            <div class="title-left select"><i class="icon-zidongtui"></i> <span>设为默认</span></div>
            <div class="title-right"><span class="operation-del"><i class="icon-del"></i> 删除</span><a class="operation-type"><i class="icon-write"></i> 编辑</a></div>
        </div>
    </div>
    <div class="address-list">
        <div class="address-title clearfix">
            <div class="title-left"><span class="address-type">家</span>谭女士</div>
            <div class="title-right">139****2419</div>
        </div>
        <div class="address-content">
            <p>青岛市崂山区</p>
            <p>东海东路1号，麦岛金岸，意帮3层</p>
        </div>
        <div class="address-operation clearfix">
            <div class="title-left select"><i class="icon-zidongtui"></i> <span>设为默认</span></div>
            <div class="title-right"><span class="operation-del"><i class="icon-del"></i> 删除</span><span class="operation-type"><i class="icon-write"></i> 编辑</span></div>
        </div>
    </div>
    <div class="creat-address"><a href="create.html">新建地址</a></div>
</div>
<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/account.js"></script>
</body>
</html>