<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<title></title>
	<link href="https://cdn-remote.517ybang.com/css/normal.css" rel="stylesheet">
		<!--公用部分css-->
		<link href="https://cdn-remote.517ybang.com/css/common.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/base.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/swiper.min.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/index.min.css" rel="stylesheet">
		<script src="https://cdn-remote.517ybang.com/js/jquery-2.1.4.min.js"></script>
		<script src="https://cdn-remote.517ybang.com/js/educationclassification.js"></script>
		
		<script src="https://cdn-remote.517ybang.com/js/swiper.min.js"></script>
		<script src="https://cdn-remote.517ybang.com/js/rem.js"></script>
		<style>
			.swiper-scrollbar{
				display: none;
			}
		</style>
	</head>
	<body>
		<!--有优惠券的时候显示-->
	<div class="havecoupon">
	<div class="tab coupon">
		<a class="active" href="javascript:;">可使用(1)</a>
		<a href="javascript:;">已使用(0)</a>
		<a href="javascript:;">已过期(0)</a>
	</div>
	<div class="swiper-container6 couponcontent">
		<div class="swiper-wrapper w">
			<div class="swiper-slide d">
				<div class="init-loading list-group-item text-center" style="display: none;">下拉可以刷新</div>
				<div class="swiper-container7">
				<div class="swiper-wrapper">
					<div class="swiper-slide list-group">
						<div class="list-group-item">
								<div class="couponlist wid710 auto">
									<div class="couponopic fl">
										<h1>¥50</h1>
										<h2>满50可用</h2>
									</div>
									<div class="coupontext fl">
										<p>东堂纹身<span>(仅限本店使用)</span></p>
										<div class="time">2017.08.01-2017.8.30</div>
									</div>
									<div class="sudouse fr">
										立即使用
									</div>
									<!--<div class="posttime">
										快过期
									</div>-->
								</div>
						</div>
						
					</div>
					<div class="swiper-slide list-group">
						<div class="list-group-item">
							<p class="coupontip">
								已使用优惠券7天后将不再显示
							</p>
								<div class="couponlist wid710 auto">
									<div class="couponopic yiguoqi fl">
										<h1>¥50</h1>
										<h2>满50可用</h2>
									</div>
									<div class="coupontext fl">
										<p>东堂纹身<span>(仅限本店使用)</span></p>
										<div class="time">2017.08.01-2017.8.30</div>
									</div>
									<!--<div class="sudouse fr">
										立即使用
									</div>-->
									<!--<div class="posttime">
										快过期
									</div>-->
									<div class="evertime">
										<img src="https://cdn-remote.517ybang.com/media/coupon/yishiyong@3x.png" />
									</div>
								</div>
								<div class="couponlist wid710 auto">
									<div class="couponopic fl yiguoqi">
										<h1>¥50</h1>
										<h2>满50可用</h2>
									</div>
									<div class="coupontext fl">
										<p>东堂纹身<span>(仅限本店使用)</span></p>
										<div class="time">2017.08.01-2017.8.30</div>
									</div>
									<!--<div class="sudouse fr">
										立即使用
									</div>-->
									<!--<div class="posttime">
										快过期
									</div>-->
									<div class="evertime">
										<img src="https://cdn-remote.517ybang.com/media/coupon/yishiyong@3x.png" />
									</div>
								</div>
						</div>
						
						
					</div>
					<div class="swiper-slide list-group">
						
						<div class="list-group-item">
							<p class="coupontip">
								已过期优惠券7天后将不再显示
							</p>
							<div class="couponlist wid710 auto">
									<div class="couponopic fl yiguoqi">
										<h1>¥50</h1>
										<h2>满50可用</h2>
									</div>
									<div class="coupontext fl">
										<p>东堂纹身<span>(仅限本店使用)</span></p>
										<div class="time">2017.08.01-2017.8.30</div>
									</div>
									<!--<div class="sudouse fr">
										立即使用
									</div>-->
									<!--<div class="posttime">
										快过期
									</div>-->
									<div class="evertime">
										<img src="https://cdn-remote.517ybang.com/media/coupon/yiguoqi@3x.png" />
									</div>
								</div>
									<div class="couponlist wid710 auto">
									<div class="couponopic fl yiguoqi">
										<h1>¥50</h1>
										<h2>满50可用</h2>
									</div>
									<div class="coupontext fl">
										<p>东堂纹身<span>(仅限本店使用)</span></p>
										<div class="time">2017.08.01-2017.8.30</div>
									</div>
									<!--<div class="sudouse fr">
										立即使用
									</div>-->
									<!--<div class="posttime">
										快过期
									</div>-->
									<div class="evertime">
										<img src="https://cdn-remote.517ybang.com/media/coupon/yiguoqi@3x.png" />
									</div>
								</div>
            	
						</div>
						
					</div>
				</div>
				</div>
			</div>
		</div>
		<!--<div class="loadtip">上拉加载更多</div>
		<div class="swiper-scrollbar"></div>-->
	</div>
</div>
<div class="nocoupon none">
	<img src="https://cdn-remote.517ybang.com/media/balance/nocoupon@3x.png"/>
	<b>竟然一张券都没有</b>
	<b>“你有没有考虑过~”</b>
</div>

	</body>
	<script>
		var couponlength = $(".swiper-container7").find('.swiper-slide').eq(0).find('.list-group-item').length;
		if(couponlength >= 1){
			$(".havecoupon").show();
			$(".nocoupon").hide();
		}
		else{
			$(".havecoupon").hide();
			$(".nocoupon").show();
		}

	</script>
</html>
