
		<!--恭喜您获得进来优惠券一张-->
		<div class="receive_one">
			<div class="receivetext">
				<span>恭喜您获得</span>
				<span class="bigtext">进来优惠券</span>
			</div>
		</div>
		<div class="receive_one_card">
			<div class="card clearfix">
				<img src="https://cdn-remote.517ybang.com/media/share_redenvelope/kaquanding@3x.png" />
				<h1 class="fl">迈菲克国际武道教育</h1>
				<span>满<i>9999</i>可用</span>
				<div class="validity">有效期至<i>2018-05-01</i></div>
				<div class="price"><i>¥</i>999</div>
				<a>去使用</a>
			</div>
			
			<div class="card clearfix">
				<img src="https://cdn-remote.517ybang.com/media/share_redenvelope/kaquanding@3x.png" />
				<h1 class="fl">迈菲克国际武道教育</h1>
				<span>满<i>9999</i>可用</span>
				<div class="validity">有效期至<i>2018-05-01</i></div>
				<div class="price"><i>¥</i>999</div>
				<a>去使用</a>
			</div>
			
			<div class="card clearfix">
				<img src="https://cdn-remote.517ybang.com/media/share_redenvelope/kaquanding@3x.png" />
				<h1 class="fl">迈菲克国际武道教育</h1>
				<span>满<i>9999</i>可用</span>
				<div class="validity">有效期至<i>2018-05-01</i></div>
				<div class="price"><i>¥</i>999</div>
				<a>去使用</a>
			</div>
			<p>红包已放入账户:<span>17667876567</span></p>
			<div class="currentdo">
				打开进来App
			</div>
		</div>