<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的优惠券</title>
    <link href="https://cdn-remote.517ybang.com/css/base.css" rel="stylesheet">
    <script src="https://cdn-remote.517ybang.com/js/rem.js"></script>
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/activities.css"/>
    <style>
        body{
            background:none;
            background-color: rgb(242,239,230);
        }
    </style>
</head>
<body>
<div class="content" style="padding: 0.2rem 0;">
    <div class="activities-item">
        <div class="item-left">
            <img class="item-logo" src="../media/logo/52.jpg" alt=""/>
            <div class="item-name">52健身</div>
            <div class="btn-operation">
                <div class="receive">去使用</div>
            </div>
        </div>
        <div class="item-right">
            <p class="current-slogan">52健身周卡体验</p>
            <p class="expiry-date">限2018-10-30前使用</p>
            <p class="limited">限100张</p>
            <p class="usage-mode">线上领取 线下核销</p>
        </div>
    </div>
    <div class="activities-item">
        <div class="item-left">
            <img class="item-logo" src="../media/logo/52.jpg" alt=""/>
            <div class="item-name">52健身</div>
            <div class="btn-operation">
                <div class="receive">去使用</div>
            </div>
        </div>
        <div class="item-right">
            <p class="current-slogan">52健身周卡体验</p>
            <p class="expiry-date">限2018-10-30前使用</p>
            <p class="limited">限100张</p>
            <p class="usage-mode">线上领取 线下核销</p>
        </div>
    </div>

</div>
</body>
</html>