<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>内购惠</title>
    <link href="https://cdn-remote.517ybang.com/css/base.css" rel="stylesheet">
    <script src="https://cdn-remote.517ybang.com/js/rem.js"></script>
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/pageBank.css"/>
    <style>
    </style>
</head>
<body>
<img class="theme-banner" src="https://cdn-remote.517ybang.com/media/page/bank/banner@3x.png" alt=""/>
<div class="content">
    <section class="theme clearfix">
        <div class="theme-li">
            <div class="them-text">
                <p class="text-top">扫描二维码关注进来商城</p>
                <p>即送价值68元的</p>
                <p>米清汤泉门票一张</p>
                <p class="text-bottom">木清汤泉 褪去疲惫 放松身心</p>
            </div>
        </div>
        <div class="theme-li">
            <a href="https://www.517ybang.com/item/detail?id=6898" class="them-text">
                <p class="text-top">活动现场任意购买一件商品</p>
                <p>即可0元购价值100元锅锅筵火锅代金券一张</p>
                <p class="text-bottom">锅锅筵水八块复古的新派老火锅线上0.01元抢拍，线下全额返现</p>
                <span class="now" >立即换购</span>
            </a>
        </div>
        <div class="theme-li">
            <a class="them-text" href="https://www.517ybang.com/item/detail?id=6798">
                <p class="text-top">火爆单品北极腹抱籽甜虾</p>
                <p>10斤/99元 </p>
                <p class="text-bottom">北极甜虾 捕捞自冰冷纯净的北冰洋</p>
                <span style="margin-top: 0.45rem" class="now" >立即抢购</a>
            </a>
        </div>

    </section>
    <section class="coupon clearfix">
        <a href="https://www.517ybang.com/coupon/create?template_id=53" class="coupon-li">

        </a>
        <a href="https://www.517ybang.com/coupon/create?template_id=55" class="coupon-li">

        </a>
    </section>
    <section class="miaosha">
        <div class="title">
            <p>限时秒杀</p>
        </div>
        <p class="date" style="color: rgb(255,246,7)">10:00,12:00,14:00,16:00,18:00,20:00<span style="color: #ffffff;">开抢，</span></p>
        <p class="date">每阶段限量一份秒杀，数量有限，抢完为止</p>
        <div class="vip-item" style="position: relative;overflow: hidden;background-color:#fff;margin: 0.2rem auto">
            <div class="vip-bg" style="">
                <img class="vip-img" src="https://cdn-remote.517ybang.com/media/page/bank/1400.jpg" alt=""/>
                <div class="item-info">
                    <p style="font-size: 0.26rem;color: rgb(89,87,87);font-weight: 700;padding: 0.3rem 0 0.1rem 0">滴露香皂（3个装）</p>
                    <p style="font-size: 0.26rem;color: rgb(89,87,87);font-weight: 700;">有效抑菌守护健康防线</p>
                    <p class="vip-price"><span style="font-size: 0.26rem">¥</span>1.00 </p>
                    <a href="https://www.517ybang.com/item/detail?id=6930" class="go-buy">立即购买</a>
                </div>
                <div class="time">
                    <span style="color: rgb(237,225,32)">14:00</span> 秒杀
                </div>
            </div>
        </div>
        <p class="date" style="font-size: 0.18rem;margin: 0 0.3rem;line-height0.26rem;text-align: left">1.请在秒杀期内提交订单，逾期提交的订单不享有秒杀特权;2.查看商品、加入购物车、下单未付款均不能作为秒杀成功；</p>

    </section>
    <section class="gift-box">
        <div class="title" style="margin-bottom: 0.4rem">
            <p>中秋礼盒特惠</p>
        </div>
        <div class="gift-ul clearfix">
            <a href="https://www.517ybang.com/item/detail?id=6863" class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6863.png" alt=""/>
                <p class="gift-name">阖家团圆礼</p>
                <p class="gift-slogan">牛腩、牛腱、牛尾、牛肉块、牛肉饼</p>
                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>218 <del>¥224</del>
                    </span></div>
            </a>
            <a href="https://www.517ybang.com/item/detail?id=6837"  class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6837.png" alt=""/>
                <p class="gift-name">万事如意礼</p>
                <div class="gift-slogan">
                    <p style="font-size: 0.18rem">牛腩、牛腱、牛尾、</p>
                    <p style="white-space:nowrap; text-overflow:ellipsis;overflow: hidden;font-size: 0.18rem">牛肉块、牛肉饼、黑胡椒眼肉牛排*2</p>
                </div>
                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>269 <del>¥304</del>
                    </span></div>
            </a>
            <a href="https://www.517ybang.com/item/detail?id=6865" class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6865.png" alt=""/>
                <p class="gift-name">吉年鸿运礼</p>
                <p class="gift-slogan">黑胡椒眼肉牛排*10</p>
                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>368 <del>¥400</del>
                    </span></div>
            </a>
            <a href="https://www.517ybang.com/item/detail?id=6866" class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6866.png" alt=""/>
                <p class="gift-name">品质尊享礼</p>
                <div class="gift-slogan">
                    <p style="font-size: 0.18rem">牛尾*2、牛仔骨*2、</p>
                    <p style="white-space:nowrap; text-overflow:ellipsis;overflow: hidden;font-size: 0.18rem">谷饲眼肉牛排*2、谷饲西冷牛排*2</p>
                </div>

                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>468 <del>¥550</del>
                    </span></div>
            </a>
            <a  href="https://www.517ybang.com/item/detail?id=6803" class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6803.png" alt=""/>
                <p class="gift-name">鱼来鲜梭子蟹*6只</p>
                <p class="gift-slogan" style="color: rgb(249, 1, 49);">250g/只</p>
                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>398 <del>¥468</del>
                    </span></div>
            </a>
            <a href="https://www.517ybang.com/item/detail?id=6801" class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6801.png" alt=""/>
                <p class="gift-name">鱼来鲜蓝色经典礼盒</p>
                <div class="gift-slogan">
                    <p style="font-size: 0.18rem">海捕大虾，白鲳鱼</p>
                    <p style="white-space:nowrap; text-overflow:ellipsis;overflow: hidden;font-size: 0.18rem">
                        龙利鱼，野生墨鱼，鲅鱼，即食海参</p>
                </div>
                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>399 <del>¥458</del>
                    </span></div>
            </a>
            <a href="https://www.517ybang.com/item/detail?id=6795" class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6795.png" alt=""/>
                <p class="gift-name">鱼来鲜蓝色诱惑礼盒</p>
                <div class="gift-slogan">
                    <p style="font-size: 0.18rem">海捕大虾，白鲳鱼</p>
                    <p style="white-space:nowrap; text-overflow:ellipsis;overflow: hidden;font-size: 0.18rem">
                        龙利鱼，野生墨鱼，鲅鱼，即食海参</p>
                </div>
                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>528 <del>¥618</del>
                    </span></div>
            </a>
            <a href="https://www.517ybang.com/item/detail?id=6901" class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/xiezi1.png" alt=""/>
                <p class="gift-name">大闸蟹8对礼盒</p>
                <p class="gift-slogan" style="color: rgb(249, 1, 49);">(公3两 母2两)</p>
                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>328 <del>¥498</del>
                    </span></div>
            </a>
            <a href="https://www.517ybang.com/item/detail?id=6901" class="gift-li">
                <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/xiezi2.png" alt=""/>
                <p class="gift-name">大闸蟹8对礼盒</p>
                <p class="gift-slogan" style="color: rgb(249, 1, 49);">(公3.5两 母2.5两)</p>
                <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>468 <del>¥698</del>
                    </span></div>
            </a>
        </div>
    </section>
    <section class="vip">
        <div class="title" style="margin-bottom: 0.4rem">
            <p>中秋节专享</p>
        </div>
        <div class="vip-item">
            <div class="vip-bg">
                <img class="vip-img" src="https://cdn-remote.517ybang.com/media/page/bank/yb.jpg" alt=""/>
                <div class="item-info">
                    <p style="font-size: 0.26rem;color: rgb(89,87,87);font-weight: 700;padding: 0.3rem 0 0.1rem 0">东坡灶老式五仁青红丝月饼</p>
                    <p style="font-size: 0.26rem;color: rgb(89,87,87);font-weight: 700;">250g*4</p>
                    <p class="vip-price"><span style="font-size: 0.26rem">¥</span>68 <del style="font-size: 0.24rem;color:rgb(89,89,87);font-weight: 400;">¥88</del> </p>
                    <a href="https://www.517ybang.com/item/detail?id=6862"><p class="go-buy">立即购买</p></a>
                </div>
            </div>
        </div>
    </section>
    <section class="give">
        <div class="title" style="margin-bottom: 0.4rem">
            <p>买三送一</p>
        </div>
        <div class="vip-item">
            <div class="vip-bg clearfix">
                <img class="vip-img" src="https://cdn-remote.517ybang.com/media/page/bank/yu.jpg" alt=""/>
                <div class="item-info">
                    <p style="font-size: 0.26rem;color: rgb(89,87,87);font-weight: 700;padding: 0.3rem 0 0.1rem 0">海世界海产零食 买三送一</p>
                    <p style="font-size: 0.22rem;color: rgb(89,87,87);font-weight: 400;">马面鱼片/鱿鱼丝/黄花鱼/龙头鱼/烤鱼排/鱿鱼条/烤鱼片</p>
                    <p class="vip-price"><span style="font-size: 0.26rem">¥</span>18元<span style="font-size: 0.3rem">/包</span> <del style="font-size: 0.24rem;color:rgb(89,89,87);font-weight: 400;">¥22</del></p>

                    <a class="go-buy" href="https://www.517ybang.com/item/detail?id=6820" style="width: 1.1rem;">去下单</a>
                </div>
            </div>
        </div>
    </section>
    <section class="give">
        <div class="title" style="margin-bottom: 0.4rem">
            <p>进来严选</p>
        </div>
        <div class="give-item">
            <div class="gift-ul clearfix">
                <a href="https://www.517ybang.com/item/detail?id=6811" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6811.png" alt=""/>
                        <p class="gift-name">优尼特澳洲牛肋排条</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>115 <del>¥145</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6881" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6881.png" alt=""/>
                        <p class="gift-name">优尼特澳洲牛嫩肩肉</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>56 <del>¥98</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6882" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6882.png" alt=""/>
                        <p class="gift-name">优尼特澳洲里脊牛排</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>97 <del>¥138</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6808" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6808.png" alt=""/>
                        <p class="gift-name">优尼特澳洲上脑牛排</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>56 <del>¥98</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6884" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6884.png" alt=""/>
                        <p class="gift-name">优尼特澳洲眼肉芯牛排</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>96 <del>¥158</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6810" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6810.png" alt=""/>
                        <p class="gift-name">优尼特澳洲外脊西冷牛排</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>96 <del>¥158</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6806" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6806.png" alt=""/>
                        <p class="gift-name">优尼特澳洲牛肉粒</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>36 <del>¥66</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6814" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6814.png" alt=""/>
                        <p class="gift-name">光明300ml 100%橙汁/葡萄汁</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>6.9 <del>¥8</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6851" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6851.png" alt=""/>
                        <p class="gift-name">光明100g原味风味发酵乳八连杯（经济装）复原乳</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>12.9 <del>¥14</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6817" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6817.png" alt=""/>
                        <p class="gift-name">光明鲜牛奶200ml</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>2.9 <del>¥5.9</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6871" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6871.png" alt=""/>
                        <p class="gift-name">龙大原浆花生油4L</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>139 <del>¥178</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6870" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/6870.png" alt=""/>
                        <p class="gift-name">龙大压榨一级花生油</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>125 <del>¥158</del>
                    </span></div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="give">
        <div class="title" style="margin-bottom: 0.4rem">
            <p>地方特产</p>
        </div>
        <div class="give-item">
            <div class="gift-ul clearfix">
                <a href="https://www.517ybang.com/item/detail?id=6867" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/hxm.png" alt=""/>
                        <p class="gift-name">沂蒙人家黑小米礼盒</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>78 <del>¥128</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6868" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/dhz.png" alt=""/>
                        <p class="gift-name">沂蒙人家大红枣</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>68 <del>¥119</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6869" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/hyd.png" alt=""/>
                        <p class="gift-name">陈氏海鸭蛋</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>85 <del>¥115</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6872" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/els.png" alt=""/>
                        <p class="gift-name">金派利尔坚果列巴无糖700g</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>35 <del>¥45</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6873" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/hz.png" alt=""/>
                        <p class="gift-name">西域灰枣</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>35 <del>¥48</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6880" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/jianguo111.png" alt=""/>
                        <p class="gift-name">每日坚果</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>135 <del>¥178</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6879" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/ht.png" alt=""/>
                        <p class="gift-name">核桃</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>35 <del>¥68</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6878" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/whgg.png" alt=""/>
                        <p class="gift-name">无花果干</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>35 <del>¥45</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6883" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/mygz.png" alt=""/>
                        <p class="gift-name">马牙瓜子</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>25 <del>¥36</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6876" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/szp.png" alt=""/>
                        <p class="gift-name">山楂片</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>7 <del>¥12</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6877" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/mgg.png" alt=""/>
                        <p class="gift-name">芒果干</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>17 <del>¥25</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6874" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/bdm.png" alt=""/>
                        <p class="gift-name">巴旦木</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>36 <del>¥49</del>
                    </span></div>
                    </div>
                </a>
            </div>
    </section>
    <section class="give">
        <div class="title" style="margin-bottom: 0.4rem">
            <p>全球精品</p>
        </div>
        <div class="give-item">
            <div class="gift-ul clearfix">
                <a href="https://www.517ybang.com/item/detail?id=6800" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/xiaowsj.png" alt=""/>
                        <p class="gift-name">花王卫生巾乐而雅F系列22.5cm*20</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>24.5 <del>¥37.9</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6805" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/huawsj.png" alt=""/>
                        <p class="gift-name">花王卫生巾乐而雅F系列夜用40cm*7</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>24.5 <del>¥37.9</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6804" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/huaqjj.png" alt=""/>
                        <p class="gift-name">花王（KAO） 日本原装进口 KAO花王泡沫厨房油污清洁剂 400ML</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>26 <del>¥38</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6812" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/bqxyy.png" alt=""/>
                        <p class="gift-name">贝亲（Pigeon）日本进口贝亲婴幼儿宝宝儿童清洗剂 瓶装 800ml</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>57.9 <del>¥89</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6875" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/bkf.png" alt=""/>
                        <p class="gift-name">汉方 100%纯天然清洗蔬果贝壳粉90g</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>39.9 <del>¥46</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6799" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/kz.png" alt=""/>
                        <p class="gift-name">PITTA MASK浅灰口罩</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>27.9 <del>¥35</del>
                    </span></div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="hot">
        <div class="title" style="margin-bottom: 0.4rem">
            <p>进来爆款</p>
        </div>
        <div class="give-item">
            <div class="gift-ul clearfix">
                <a href="https://www.517ybang.com/item/detail?id=6889" target="_blank">
                    <div class="gift-li">
                        <img style="width: 100%;height: 1.9rem" class="gift-img"  class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/zzsq.png" alt=""/>
                        <p class="gift-name">早餐保温煮粥神器</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>69 <del>¥129</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6892" target="_blank">
                    <div class="gift-li">
                        <img style="width: 100%;height: 1.9rem" class="gift-img"  class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/tzjsq.png" alt=""/>
                        <p class="gift-name">兔子香薰加湿器</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>128 <del>¥198</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6888" target="_blank">
                    <div class="gift-li">
                        <img style="width: 100%;height: 1.9rem" class="gift-img"  class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/sdzzj.png" alt=""/>
                        <p class="gift-name">手动榨橙汁机</p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>29.8 <del>¥98</del>
                    </span></div>
                    </div>
                </a>
                <a href="https://www.517ybang.com/item/detail?id=6906" target="_blank">
                    <div class="gift-li">
                        <img class="gift-img" src="https://cdn-remote.517ybang.com/media/page/bank/zsll.png" alt=""/>
                        <p class="gift-name">猪饲料零食大礼包 </p>
                        <div class="gift-price"><span class="price-bg">
                        <span class="symbol">¥</span>69.9 <del>¥139.8</del>
                    </span></div>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>
</body>
</html>