<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,user-scalable=0">
		<link href="https://cdn-remote.517ybang.com/css/normal.css" rel="stylesheet">
		<!--公用部分css-->
		<link href="https://cdn-remote.517ybang.com/css/common.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/base.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/swiper.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/index.css" rel="stylesheet">
		<script src="https://cdn-remote.517ybang.com/js/jquery-2.1.4.min.js"></script>
		
		<script src="https://cdn-remote.517ybang.com/js/swiper.min.js"></script>
		<script src="https://cdn-remote.517ybang.com/js/rem.js"></script>
		<style>
			body{
				background: #efefef;
				padding: .2rem 0px .95rem 0px;
			}
			</style>
	</head>
	<body>
		<div class="merchantswrap wid670 auto bgfff border20">
			<ul class="clearfix">
				<li class="clearfix">
					<img src="https://cdn-remote.517ybang.com/media/balance/yue.png" />
					<h1 class="fl">300</h1>
					<h2 class="fl">东堂纹身当前余额300元</h2>
					<i class="icon-Arrow fr"></i>
				</li>
				<li class="clearfix">
					<img src="https://cdn-remote.517ybang.com/media/balance/yue.png" />
					<h1 class="fl">300</h1>
					<h2 class="fl">东堂纹身当前余额300元</h2>
					<i class="icon-Arrow fr"></i>
				</li>
				<li class="clearfix">
					<img src="https://cdn-remote.517ybang.com/media/balance/yue.png" />
					<h1 class="fl">300</h1>
					<h2 class="fl">东堂纹身当前余额300元</h2>
					<i class="icon-Arrow fr"></i>
				</li>
			</ul>
		</div>
	</body>

</html>
