<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,user-scalable=0">
		<link href="https://cdn-remote.517ybang.com/css/normal.css" rel="stylesheet">
		<!--公用部分css-->
		<link href="https://cdn-remote.517ybang.com/css/common.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/base.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/swiper.css" rel="stylesheet">
		<link href="https://cdn-remote.517ybang.com/css/index.css" rel="stylesheet">
		<script src="https://cdn-remote.517ybang.com/js/jquery-2.1.4.min.js"></script>
		
		<script src="https://cdn-remote.517ybang.com/js/swiper.min.js"></script>
		<script src="https://cdn-remote.517ybang.com/js/rem.js"></script>
		
		<style>
			body{
				background: #efefef;
				padding: .2rem 0px .95rem 0px;
			}
					/*此处是在做tab选项卡的时候,让当前swiper实现高度自适应的css*/
			.swiper-containerpaymentdetails .swiper-slide{
				height: .7rem;
			}
			.swiper-containerpaymentdetails .swiper-slide-active { height:auto}
			.swiper-containerpaymentdetails .swiper-slide li:last-child{
				border-bottom: none;
			}

		</style>
	</head>
	<body>
		<div class="topupinfo wid710 auto border20 bgfff">
			<img src="https://cdn-remote.517ybang.com/media/balance/yue_icon@3x.png" class="block auto"/>
			<p>当前平台余额(元)</p>
			<span class="block downprice">00.00</span>
			<div class="topupinfotitle">
				<span>收支明细</span>
				<span>商家余额</span>
				<i></i>
			</div>
		</div>
		<div class="topuptip wid710 auto">
				所有金额都归进来平台托管
			</div>
		<!--收支明细顶部nav-->
		<div class="paymentdetailsnav wid710 bgfff border20 auto">
			<span class="fl block paymentcur">平台充值</span>
			<span class="fl block">商家充值</span>
			<i></i>
		</div>
		<!--收支明细底部内容区域-->
		<div class="patmentdetailscontent auto mt20 border20 topupcontent">
			<div class="swiper-containerpaymentdetails">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<ul>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						
						
					</ul>
					</div>
					<div class="swiper-slide clearfix">
						<ul>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
						<li>
							<div>
								<span>¥1000</span>
								<span>电子充值卡</span>
							</div>
							<h1>进来平台通用</h1>
							<h2>立返
								<b>20</b>
								元
							</h2>
							<a href="###">立即充值</a>
						</li>
					</ul>
					</div>
				</div>
			
			</div>

		<!--</div>-->
		
	</body>
	<script>
		
$(document).ready(function(){
			var mySwiperpaymentdetails = new Swiper('.swiper-containerpaymentdetails', {
            onSlideChangeEnd: function (swiper) {
                var j=mySwiperpaymentdetails.activeIndex;
				$(".paymentdetailsnav span").eq(j).addClass('paymentcur').siblings('span').removeClass('paymentcur');
            }
        });
        $(".paymentdetailsnav span").on('click',function(){
			var index = $(this).index();
			 $(".paymentdetailsnav span").removeClass('paymentcur').eq(index).addClass('paymentcur');
            mySwiperpaymentdetails.slideTo(index,500,false);
		});
});


	</script>
</html>
