<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>通知消息</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="https://cdn-remote.517ybang.com/js/rem.js"></script>
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/fontStyle.css"/>
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/normal.css"/>
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/chat/cartNewsCenter.css"/>
</head>
<body>
<div class="content">
    <header class="header">
        <a class="chatback" href="javascript:history.back()">
            <i class="icon-Back"></i>

        </a>

        <h5 class="tit">通知消息</h5>

    </header>
    <div class="news-item">
        <div class="news-time">2018-05-06 12:00</div>
        <div class="news-content">
            <p class="news-title">标题显示位置</p>
            <p class="news-remind">现金券即将在6月30号过期，请尽快使用</p>
        </div>
    </div>
    <div class="news-item">
        <div class="news-time">2018-05-06 12:00</div>
        <div class="news-content">
            <p class="news-title">标题显示位置</p>
            <div class="news-img">
                <img  class="news-header-img" src="../media/cart/place.png" alt=""/>
                <div class="news-remind-img">现金券即将在6月30号过期，请尽快使用,快点去使用吧</div>
            </div>

        </div>
    </div>
    <div class="news-item">
        <div class="news-time">2018-05-06 12:00</div>
        <div class="news-content">
            <p class="news-title">标题显示位置</p>
            <div class="news-img">
                <img  class="news-header-img" src="../media/cart/place.png" alt=""/>
                <div class="news-remind-img">现金券即将在6月30号过期，请尽快使用,快点去使用吧</div>
            </div>

        </div>
    </div>
</div>

</body>
</html>