<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>收货地址</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="https://cdn-remote.517ybang.com/js/rem.js"></script>
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/fontStyle.css"/>
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/normal.css"/>
    <link rel="stylesheet" href="https://cdn-remote.517ybang.com/css/chat/cartNewsCenter.css"/>
</head>
<body>
<div class="content">
    <header class="header">
        <a class="chatback" href="javascript:history.back()">
            <i class="icon-Back"></i>

        </a>

        <h5 class="tit">收货地址</h5>

    </header>
    <ul class="address-list">
        <li class="address-li">
            <div class="address-title clearfix">
                <div class="address-name">孙亚楠</div>
                <div class="address-tel">13456789009</div>
            </div>
            <div class="address-cities"><span>山东省</span><span>山东省</span><span>山东省</span></div>
            <div class="address-detailed">东海东路一号麦岛金岸意帮管家3层</div>
        </li>
        <li class="address-li">
            <div class="address-title clearfix">
                <div class="address-name">孙亚楠</div>
                <div class="address-tel">13456789009</div>
            </div>
            <div class="address-cities"><span>山东省</span><span>山东省</span><span>山东省</span></div>
            <div class="address-detailed">东海东路一号麦岛金岸意帮管家3层</div>
        </li>
    </ul>
</div>
</body>
</html>