*:before, *:after {box-sizing: border-box; }
*, *:before, *:after {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;font-family: "Microsoft YaHei"; font-size: inherit;color: inherit; margin: 0;padding: 0;vertical-align: baseline;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
em, strong { font-style: normal;}
ul, ol, li {list-style: none;}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
input{outline:none;}
button{border: none;}
html{ margin: 0 auto; height: 100%}
body {width: 100%;background-color: #fff; height: 100%}
a {text-decoration: none;}
.box {width: 100%; height: 100%;position: relative}
.loginTab .textLeft{box-sizing: border-box; border-right: 0.02rem solid #e6e6e6;}
.input-box{ width: 100%}
.ver-box{
    margin: 0 0.9rem;
}
.input-item {display:flex;height: 0.36rem; margin: 0 0.9rem 0.7rem 0.9rem;}
.label{width: 0.28rem;height: 0.36rem; margin-right: 0.3rem}
.tel-input{flex:1;height: 0.36rem; position: relative;}
.tel-icon{height: 0.4rem;width: 0.4rem; display: block;}
.no-icon{position:absolute;right: 0; width: 0.22rem;height: 0.22rem;padding:0.1rem 0 0 0.2rem;
}
.tel-input .input{ float:left; height: 0.3rem; width: 100%; font-size: 0.3rem; border:none;border-bottom: 0.01rem solid #e1e1e1; padding: 0.05rem 0;}
.next{position: relative}
.next-btn{height: 0.76rem; width: 5.8rem;position: absolute;top:0;left: 50%;margin-left: -2.9rem;}
.login_sms{width: 100%;font-size: 0.26rem; color: #9fa0a0; text-align: center;margin: 1.3rem 0 0 0}
.login-bot{ width:100%;text-align: center;font-size: 0.26rem; color: #e1e1e1}
.wx-icon{width: 0.84rem;height: 0.84rem;margin: 0.60rem 0 1rem 0}
.line{display:inline-block;border-bottom: 0.01rem solid #e1e1e1;width: 1.5rem;margin-bottom: 0.1rem}
.ver-btn{height: 0.6rem;width: 2rem;font-size: 0.2rem;color: #fff;background-color: #FC5353;border-radius: 0.12rem;text-align: center;line-height: 0.6rem;margin-top: -0.2rem}
.forget{text-align: right;font-size: 0.26rem; margin: 0 0.3rem 0.3rem 0; color: #9fa0a0;}
.logo{width: 100%;height: 4.8rem;position: relative;}
.logo img{width: 1.46rem;height: 1.8rem;position: absolute;top:50%;margin-top: -0.9rem;left: 50%;margin-left: -0.73rem;}
.submit{display: none;}
.login-password{display: none}
.login-ver{display: none}
.no-ver{
    position: fixed;width: 0.22rem;height: 0.22rem;display: block;padding:0.1rem 0.2rem 0.2rem 0.2rem;right: 2.2rem;margin-bottom: -0.2rem;
}
.tel{
    display: none;
}
.pass{
    display: none;
}
.pass1{
    display: none;
}
.pass2{
    display: none;
}
.ver{display: none;}
.error-tips{
    display: none;
    width: 3rem;
    height: 1.4rem;
    position: fixed;
    top: 40%;
    left: 50%;
    margin-left: -1.5rem;
    font-size: 0.3rem;
    text-align: center;
    color: #ffffff;
    padding: 0.3rem 0;
    background-color: rgba(0, 0, 0, .3);border-radius: 0.15rem;
    z-index: 100;
}





.header{
    width: 100%;
    height: 3.5rem;
    background: url("../media/account/mine/beijing@3x.png") no-repeat;
    background-size: 100% 3.5rem;
}
.header-top{
    height: 2.3rem;
    width: 100%;
    border-bottom: 1px dashed #fff;
}
.header-img{
    float: left;
    padding: 0.6rem 0.2rem 0.3rem 0.45rem;
}
.header-img img{
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
}
.header-name{
    padding-top: 0.75rem;
    float: left;
}
.nick-name{
    font-size: 0.28rem;
    color: #ffffff;
}
.member{
    font-size: 0.18rem;
    padding: 0.04rem 0.15rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0.1rem;
    margin-top: 0.1rem;
}


.header-news{
    float: right;
    margin-right: 0.2rem;
    width: 0.5rem;
    height: 0.5rem;
}

.icon-chat:before {
    content: "\e908";
    font-size: 0.46rem;
    color: #ffffff;
}
.header-bot{
    width: 100%;
}
.bot-float{
    float: left;
    text-align: center;
    width: 33.3333333%;
    font-size: 0.26rem;
    padding-top: 0.16rem;
}
.bot-float p{
    color: #ffffff;
    padding: 0.12rem 0;
}
.icon-guanzhu:before {
    content: "\e91d";
    font-size: 0.45rem;
    color: #ffffff;
}
.icon-shoucang2:before {
    content: "\e930";
    font-size: 0.45rem;
    color: #ffffff;
}
.icon-kabao:before {
    content: "\e925";
    font-size: 0.45rem;
    color: #ffffff;
}
.mine-order{
    margin: 0.2rem 0.1rem;
    background-color: #fff;
    border-radius: 0.2rem;
}
.order-title{
    height: 0.88rem;
    font-size: 0.28rem;
    line-height: 0.88rem;
    padding: 0 0.1rem;
}
.title-left{
    float: left;
    color: #3E3A39;
}
.title-right{
    float: right;
    color: #898989;
}
.icon-Arrow:before {
    content: "\e904";
    font-size: 0.28rem;
    color: #898989;
}
.order-item{
    width: 100%;
    border-top: 0.01rem solid #dcdddd;
}
.item-list{
    float: left;
    width: 20%;
    text-align: center;
    font-size: 0.26rem;
    padding-top: 0.2rem;
}
.item-list p{
    font-size: 0.26rem;
    color: #3E3A39;
    padding: 0.14rem 0 0.2rem 0;
}
.icon-daifukuan:before {
    content: "\e90b";
    font-size: 0.48rem;
    color: #3E3A39;
}
.icon-daifahuo:before {
    content: "\e90a";
    font-size: 0.48rem;
    color: #3E3A39;
}
.icon-daishouhuo:before {
    content: "\e90e";
    font-size: 0.48rem;
    color: #3E3A39;
}
.icon-daipingjia:before {
    content: "\e90c";
    font-size: 0.48rem;
    color: #3E3A39;
}
.icon-jintuikuan:before {
    content: "\e959";
    font-size: 0.48rem;
    color: #3E3A39;
}
.item-team{
    float: left;
    width: 25%;
    text-align: center;
    font-size: 0.26rem;
    padding-top: 0.2rem;
}
.item-team p{
    font-size: 0.26rem;
    color: #3E3A39;
    padding: 0.14rem 0 0.2rem 0;
}
.item-service{
    float: left;
    width: 33.3333333%;
    text-align: center;
    font-size: 0.26rem;
    padding-top: 0.2rem;
}
.item-service p{
    font-size: 0.26rem;
    color: #3E3A39;
    padding: 0.14rem 0 0.2rem 0;
}
.icon-daishiyong:before {
    content: "\e90d";
    font-size: 0.48rem;
    color: #3E3A39;
}
.sing-out-btn{
    font-size: 0.3rem;
    line-height: 0.8rem;
    color: #3E3A39;
    text-align: center;
    border-radius: 0.15rem;

}
.icon-dizhiguanli:before {
    content: "\e96a";
    color: #67c67e;
    font-size: 0.54rem;
}
.icon-guanyuwomen:before {
    content: "\e96b";
    color: #f5cf4a;
    font-size: 0.54rem;
}
.icon-hongka:before {
    content: "\e96d";
    color: #fd7088;
    font-size: 0.54rem;
}
.icon-jifen:before {
    content: "\e96e";
    color: #81b7f3;
    font-size: 0.54rem;
}
.icon-kabao2:before {
    content: "\e96f";
    color: #c4de74;
    font-size: 0.54rem;
}
.icon-yue2:before {
    content: "\e97f";
    color: #f3bc41;
    font-size: 0.54rem;
}
.icon-xiazai:before {
    content: "\e97d";
    font-size: 0.34rem;
}
.icon-hezuo:before {
    content: "\e96c";
    color: #7fccfb;
    font-size: 0.54rem;
}
.icon-yaoqinghaoyou:before {
    content: "\e97e";
    color: #f59ae3;
    font-size: 0.54rem;
}