/*index*/
html{ margin: 0 auto; height: 100%; background-color: #F2F2F3;}
body {width: 100%;background-color: #F2F2F3; height: 100%}
a {text-decoration: none;}
.box {width: 100%; height: 100%;position: relative;margin-bottom: 1.5rem;}
.box .address-list{margin: 0.1rem;font-size: 0.26rem;background-color: #fff;border-radius: 0.15rem;}
.box .address-title{margin: 0 0.2rem;color: #3E3A39;padding: 0.24rem 0 0.16rem 0;}
.title-left{float: left;}
.title-right{float: right;}
.address-type{display: inline-block;width: 0.7rem;height: 0.3rem;line-height: 0.3rem;text-align: center;border: 0.01rem solid #ff3649;border-radius: 0.04rem;color: #ff3649;margin-right: 0.2rem;
}
.address-content{margin: 0 0.2rem;color: #666464;padding-bottom: 0.24rem;border-bottom: 0.01rem solid #e6e6e6;}
.address-content p{
    padding: 0.03rem 0;
}
.address-operation{margin: 0 0.2rem;color: #666464;padding: 0.23rem 0;}
.operation-type{margin-left: 0.4rem; color: #666464;}
.operation-del{margin-left: 0.4rem;}

.icon-write:before {
    content: "\e93f";

}
.icon-del:before {
    content: "\e91b";

}

.creat-address{
    width: 7.1rem;
    height: 0.84rem;font-size: 0.3rem;text-align: center;line-height: 0.8rem;color: #ff3649;
    border: 0.01rem solid #ff3649;
    border-radius: 0.12rem;
    background-color: #F2F2F3;
    position: fixed;
    bottom: 0.5rem;
    margin: 0 0.2rem;
}
.creat-address a{
    color: #FF3649;
}

.icon-zidongtui:before {
    content: "\e94d";

}
.icon-xuanzhong:before {
    content: "\e94d";
    color: #ff3649;
}
.address-operation .icon-write{
    color: #000;
    font-size: 0.3rem;
}
.address-operation .icon-del{
    color: #000;
    content: "\e91b";
    font-size: 0.3rem;
}
.address-operation .icon-zidongtui{
    font-size: 0.3rem;
}
.address-operation .icon-xuanzhong{
    color: #ff3649;
    font-size: 0.3rem;
}
