body{
	background: #eaeaea;
	padding: 0;
	margin: 0;
}
/*swiper部分css*/
.bannerWrap{
	width: 94.7%;
	margin-top: .2rem;
	overflow: hidden;
}

.swiper-container {
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    }
    .swiper-container5{
    	overflow: hidden;
    	width: 100%;
    }
.swiper-slide {
    height: 3rem;
    font-size: .18rem;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
}
/*分类区域css开始*/
.classification{
	height: .92rem;
	margin-top: .2rem;
	position: relative;
	width: 94.67%;
	
}
.classification .swiper-slide{
	height: .92rem;
	width: 17.86666666666%;
	float: left;
	border-radius: .15rem;
	position: relative;
	overflow: hidden;
}
.colorarea{
	width: 100%;
	height: .7rem;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}
.move{
	    overflow: hidden;
    height: .7rem;
    /* top: 10px; */
    position: absolute;
    width: 100%;
    bottom: 0px;
    z-index: 3;

}
.classification .swiper-slide span{
	width: 100%;
	display: block;
	text-align: center;
	position: absolute;
	font-size: .18rem;
	color: #fff;
}
.classification .swiper-slide span.titletext{
	top: .1rem;
}
.classification .swiper-slide span.smalltitle{
	top: 61%;
	font-size: .14rem;
}
.downarrow{
	    width: 0px;
    height: 0px;
    border: .07rem solid;
    border-color: transparent transparent #FC2F63 transparent;
    position: absolute;
    top: 0.49rem;
    z-index: 1;
    left: 0.55rem;
}
.arrYellow{
	border-color: transparent transparent #FD853C transparent;
}
.arrBlue{
	border-color: transparent transparent #0EDAF8 transparent;
}
.arrPink{
	border-color: transparent transparent #6453DA transparent;
}
.arrGreen{
	border-color: transparent transparent #50FFCA transparent;
}
.smallcolor_one{
	  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255,138,180, 1)), to(rgba(255,217,143, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}
.smallcolor_two{
	  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255,240,96, 1)), to(rgba(252,255,32, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}
.smallcolor_three{
	  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(40,255,253, 1)), to(rgba(36,255,252, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}
.smallcolor_four{
	  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(253,187,255, 1)), to(rgba(254,227,255, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}
.smallcolor_five{
	  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(167,251,249, 1)), to(rgba(139,245,242, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
}
.colorareaRed{
	background: linear-gradient(right , #FC2F63 6% , #FF833E 100%) !important;
	background: -o-linear-gradient(right , #FC2F63 6% , #FF833E 100%) !important;
	background: -ms-linear-gradient(right , #FC2F63 6% , #FF833E 100%) !important;
	background: -moz-linear-gradient(right , #FC2F63 6% , #FF833E 100%) !important;
	background: -webkit-linear-gradient(right , #FC2F63 6% , #FF833E 100%) !important;
}
.colorareaYellow{
	background: linear-gradient(right , #FD853C 6% , #FDC126 100%) !important;
	background: -o-linear-gradient(right , #FD853C 6% , #FDC126 100%) !important;
	background: -ms-linear-gradient(right , #FD853C 6% , #FDC126 100%) !important;
	background: -moz-linear-gradient(right , #FD853C 6% , #FDC126 100%) !important;
	background: -webkit-linear-gradient(right , #FD853C 6% , #FDC126 100%) !important;
}
.colorareaBlue{
	background: linear-gradient(right , #1B6FEF 6% , #0EDAF8 100%) !important;
	background: -o-linear-gradient(right , #1B6FEF 6% , #0EDAF8 100%) !important;
	background: -ms-linear-gradient(right , #1B6FEF 6% , #0EDAF8 100%) !important;
	background: -moz-linear-gradient(right , #1B6FEF 6% , #0EDAF8 100%) !important;
	background: -webkit-linear-gradient(right , #1B6FEF 6% , #0EDAF8 100%) !important;
}
.colorareaPink{
	background: linear-gradient(right , #6453DA 6% , #CA7BF6 100%) !important;
	background: -o-linear-gradient(right , #6453DA 6% , #CA7BF6 100%) !important;
	background: -ms-linear-gradient(right , #6453DA 6% , #CA7BF6 100%) !important;
	background: -moz-linear-gradient(right , #6453DA 6% , #CA7BF6 100%) !important;
	background: -webkit-linear-gradient(right , #6453DA 6% , #CA7BF6 100%) !important;
}
.colorareaGreen{
	background: linear-gradient(right , #5999F5 6% , #50FFCA 100%) !important;
	background: -o-linear-gradient(right , #5999F5 6% , #50FFCA 100%) !important;
	background: -ms-linear-gradient(right , #5999F5 6% , #50FFCA 100%) !important;
	background: -moz-linear-gradient(right , #5999F5 6% , #50FFCA 100%) !important;
	background: -webkit-linear-gradient(right , #5999F5 6% , #50FFCA 100%) !important;
}
.classification .swiper-slide img{
	width: 100%;
	height: 100%;
	border-radius: .2rem;
}

/*立即体验区域开始*/
.experience{
	height: 4.5rem;
	margin-top: .1rem;
}
.experience_one{
	height: 4.5rem;
	background: #fff;
	width: 2.7rem;
	border-radius: .2rem;
	    position: relative;
}
.card_one{
	width: 3.9rem;
	height: 1.8rem;
	border-radius: .2rem;
	background: #fff;
	margin-left: .1rem;
	padding: .2rem;
	position: relative;
}
.title{
	    overflow: hidden;
    margin-top: .25rem;
    padding: 0 0.2rem;
}
.title img{
	width: 100%;
}
.goodpic{
	width: 1.88rem;
	height: 1.88rem;
	margin-top: .2rem;
}
.goodpic img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.experience h1{
	padding: .1rem .2rem;
    font-size: .24rem;
    color: #3e3a39;
    height: .24rem;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.experience h2{
	padding: .0 .2rem;
    font-size: .20rem;
    color: #9fa0a0;
    height: .3rem;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.atonce{
	    display: block;
    width: 1.2rem;
    height: 0.44rem;
    border-radius: .15rem;
    background: #fe5785;
    color: #fff;
    font-size: .24rem;
    text-align: center;
    line-height: .44rem;
    text-decoration: none;
    float: right;
    margin-right: .2rem;
    margin-top: .28rem;
}
.atonce_r{
	margin-right: 0;
	margin-top: .55rem;
}
.card_one img{
	width: 1.8rem;
	height: 1.8rem;
	border-radius: .2rem;
}
/*tab切换区域css*/



/*-----------------------content-------------------------------*/
.wrapper {
	width: 94.67%;
    margin: 0 auto;
    margin-top: .1rem;
    overflow-x: hidden;
}



.listtext{
	    width: 4.956rem;
    height: 1.6rem;
    font-size: .26rem;
    color: #3e3a39;
    
}
.listtext h1{
	height: .29rem;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list{
	overflow: hidden;
	padding: .2rem;
	border-bottom: 1px solid #eee;
	/*background: #e1e1e1;*/
	position: relative;
}
.star{
	margin-top: .15rem;
	overflow: hidden;
}
.tag{
	margin-top: .15rem;
	font-size: .2rem;
	color: #3e3a39;
}
.tuan{
	    color: #fd799c;
    display: inline-block;
    width: .37rem;
    height: .24rem;
    border: 1px solid #fd799c;
    border-radius: .2rem;
    text-align: center;
    line-height: .26rem;
    font-size: .21rem;
    margin-right: .1rem;
}
.area{
	    position: absolute;
    right: 0px;
    top: 48%;
    right: .3rem;
}
.star li{
	float: left;
    width: .36rem;
    height: .36rem;
    margin-right: .07rem;
    background: #fe5785;
    border-radius: 50%;
    color: #fff;
    font-size: .12rem;
    line-height: .37rem;
    text-align: center;
}
.allbuy{
	margin-top: .15rem;
	font-size: .24rem;
	color: #9fa0a0;
}
/*//下拉刷新*/
/*.swiper-container6 .swiper-wrapper{
	display:  !important;
}*/
.swiper-container7{
	width: 94.7%;
	overflow: hidden;
	margin: 0 auto;
}
.swiper-container7 img{
	width: 1.6rem;
	height: 1.6rem;
	border-radius: .2rem;
}
.tab{   
	background-color: #fff;
	width: 94.67%;
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
	
	margin: 0 auto;
	margin-top: .1rem;
	font-size: .26rem;
}
.tab a{
	text-align: center;
	font-size: .26rem;
	padding: 4% 0px;
	display: inline-block;
	text-decoration: none;
	width: 32.52%;
	color: #3e3a39;
	position: relative;
}
.init-loading{
	width: 94.67%;
	margin: 0 auto;
	text-align: center;
}
.tab .active{
	color: #fd799c;
    border-bottom: 2px solid #fd799c;
}
.panel{margin: 0;}
.refreshtip {
	position: absolute;
	left: 0;
	width: 100%;
	margin: 10px 0;
	text-align: center;
	color: #999;
	font-size: .24rem;
}
.loadtip {
	display: block;
	width: 100%;
	line-height: .4rem;
	height: 0.4rem;
	font-size: .24rem;
	text-align: center;
	color: #999;
	border-top: 1px solid #eee;
}
.swiper-slide{height: auto;}
.list-group{
	padding-left: 0;
	margin-bottom: 20px;
}
.list-group-item{
	position: relative; 
	display: block;
	background-color: #fff;
	border: 1px solid #eee;
}
/*.list-group-item:first-child {
	    border-radius: .2rem;
}*/
/*商家合作区域css开始*/
.cardtitle{
	text-align: center;
	height: .54rem;
	border-radius: .12rem;
    font-size: .28rem;
    line-height: .54rem;
    font-style: italic;
	
}
.cardtitle .companytitle{
	color: #f2f2f3;
	font-size: .28rem;
}
.cardtitle .description{
	font-size: .2rem;
	color: #F2F2F3;
}
.cardcontent{
	padding: .1rem;
	background: #fff;
	border-radius: .12rem;
	height: 3.74rem;
}
.cardcontent img{
	width: 100%;
	border-radius: .12rem;
	display: block;
	height: 100%;
}

/*企业入驻特权区域开始*/
.privilege{
	padding: .1rem;
	background: #fff;
	padding-top: .3rem;
	border-radius: .12rem;
	margin-top: .1rem;
}
.privilege h1{
	text-align: center;
	color: #3e3a39;
	font-size: .26rem;
	font-weight: normal;
}
.privilege h2{
	color: #666464;
	font-size: .2rem;
	text-align: center;
	padding-top: .1rem;
	padding-bottom: .3rem;
}
.piclist{
	 display: flex;
  	flex-wrap: wrap;
  	align-content: space-between;
  	height: 3.12rem;
}
.piclist .column{
	 flex-basis: 100%;
  display: flex;
  justify-content: space-between;
	
}
.piclist .item{
	width: 3.4rem;
	height: 1.5rem;
}
.piclist .item img{
	width: 100%;
	height: 100%;
	border-radius: .12rem;
}

/*广告案例区域css*/
.ad-show{
	padding: .1rem;
	background: #fff;
	border-radius: .12rem;
	margin-top: .1rem;
	overflow: hidden;
	width: 6.9rem;
}
.ad-show-pic{
	width: 4.1rem;
	height: 1.8rem;
}
.ad-show-pic img{
	width: 100%;
	height: 100%;
	display: block;
	border-radius: .12rem;
}
.add-show-text{
	text-align: center;
	font-size: .26rem;
	width: 2.8rem;
}
.add-show-text h1{
	width: 100%;
	margin-top: .2rem;
	color: #3E3A39;
	font-size: .26rem;
}
.add-show-text h2{
	width: 100%;
	margin-top: .2rem;
	color: #3E3A39;
	font-size: .22rem;
	text-indent: -.41rem;
}
.add-show-text .line{
	width: .3rem;
	height: .04rem;
	margin-top: .46rem;
	margin-left: .6rem;
}

/*首页样式开始*/
.tabWrap{
	width: 100%;
	background: #fff;
	bottom: 0;
	z-index: 1500;
}
.tabbar{
	height: .98rem;
	width: 6.53rem;
}
.tabbar .column{
	flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}
.tabbar .column .item{
	height: .8rem;
	width: .8rem;
	margin-top: .1rem;
	line-height: .76rem;
	text-align: center;
	  color: #3e3a39;
	   display: block;
	 
}
.tabbar .column .item i{
	display: block;
    font-size: .4rem;
    margin-top: -.14rem;
}
.tabbar .column .item{
	position: relative;
	overflow-y: hidden;
}
.tabbar .item .text{
	position: absolute;
	font-size: .2rem;
	width: .8rem;
	text-align: center;
	left: 0;
	top: .27rem;
}

.cur{
	color: #fff !important;
	background: linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
	background: -o-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
	background: -ms-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
	background: -moz-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
	background: -webkit-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
}

/*tab切换内容区域*/
.tabcontent .item{
	display:none;
}
.tabWrap .item{
	display: block !important;
}
/*首页菜单区域开始*/
.menuOuter{
	width: 95.733333333333333%;
	overflow: hidden;
	margin: 0 auto;
}

.menuWrap{
	width: 100%;
	background: #fff;
	/*padding: .35rem .35rem .30rem .35rem;*/
	float: left;
}
.menuWrap ul{
	margin-top: .35rem;
    margin-left: .19rem;
    margin-bottom: .2rem;
}
.menuWrap li{
	    float: left;
    width: 1.08rem;
    height: 1.54rem;
    margin-right: .35rem;
	
}
.menuWrap li .menuicon{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #fbc68d;
}
.bg1,.bg2,.bg3,.bg4,.bg5,.bg6,.bg7,.bg8,.bg9,.bg10{
	text-align: center;
	line-height: .95rem;
	height: .95rem;
}
.menuWrap li .menuicon2{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #f9bca4;
}
.menuWrap i{
	display: block;
	font-size: .5rem;
}
.menuWrap li .menuicon3{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #feb4be;
}
.menuWrap li .menuicon4{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #edcfff;
}
.menuWrap li .menuicon5{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #b0c8f7;
}
.menuWrap li .menuicon6{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #f9b7b2;
}
.menuWrap li .menuicon7{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #f9b1cf;
}
.menuWrap li .menuicon8{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #deabf1;
}
.menuWrap li .menuicon9{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #6dc8f8;
}
.menuWrap li .menuicon10{
	width: .95rem;
	height: .95rem;
	margin: 0 auto;
	border-radius: .35rem;
	border:3px solid #92e4f2;
}
.menuWrap li .text{
	font-size: .2rem;
	color: #3e3a39;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: .1rem;
	 overflow:hidden; /*内容超出宽度时隐藏超出部分的内容 */
     text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
     white-space:nowrap; /*不换行 */
    margin-bottom: .16rem;
}
.menuWrap li .iconWrap{
	height: 1.1rem;

}
.menuWrap li .iconWrap2{
	height: 1.1rem;
	
}
.menuWrap li .iconWrap3{
	height: 1.1rem;

}
.menuWrap li .iconWrap3{
	height: 1.1rem;
}
.menuWrap li .iconWrap4{
	height: 1.1rem;

}
.menuWrap li .iconWrap5{
	height: 1.1rem;

}

.menuWrap li .iconWrap6{
	height: 1.1rem;

}
.menuWrap li .iconWrap7{
	height: 1.1rem;

}

.menuWrap li .iconWrap8{
	height: 1.1rem;

}

.menuWrap li .iconWrap9{
	height: 1.1rem;

}

.menuWrap li .iconWrap10{
	height: 1.1rem;

}
/*导航区域十个渐变*/
.bg1{
	background: linear-gradient(top , #fdd415 6% , #f8ad4f 100%) !important;
	background: -o-linear-gradient(top , #fdd415 6% , #f8ad4f 100%) !important;
	background: -ms-linear-gradient(top , #fdd415 6% , #f8ad4f 100%) !important;
	background: -moz-linear-gradient(top , #fdd415 6% , #f8ad4f 100%) !important;
	background: -webkit-linear-gradient(top , #fdd415 6% , #f8ad4f 100%) !important;
	box-shadow:0px 0px .15rem #fbc68d;
	color: #faff53;
}

.bg2{
	background: linear-gradient(top , #febf5d 6% , #fe895b 100%) !important;
	background: -o-linear-gradient(top , #febf5d 6% , #fe895b 100%) !important;
	background: -ms-linear-gradient(top , #febf5d 6% , #fe895b 100%) !important;
	background: -moz-linear-gradient(top , #febf5d 6% , #fe895b 100%) !important;
	background: -webkit-linear-gradient(top , #febf5d 6% , #fe895b 100%) !important;
	box-shadow:0px 0px .15rem #fbc68d;
	color: #f6e7a1;
}
.bg3{
	background: linear-gradient(top , #fd9c86 6% , #f7559b 100%) !important;
	background: -o-linear-gradient(top , #fd9c86 6% , #f7559b 100%) !important;
	background: -ms-linear-gradient(top , #fd9c86 6% , #f7559b 100%) !important;
	background: -moz-linear-gradient(top , #fd9c86 6% , #f7559b 100%) !important;
	background: -webkit-linear-gradient(top , #fd9c86 6% , #f7559b 100%) !important;
	box-shadow:0px 0px .15rem #f7ccd1;
	color: #f5f2f4;
}
.bg4{
	background: linear-gradient(top , #dc98f8 6% , #8f76eb 100%) !important;
	background: -o-linear-gradient(top , #dc98f8 6% , #8f76eb 100%) !important;
	background: -ms-linear-gradient(top , #dc98f8 6% , #8f76eb 100%) !important;
	background: -moz-linear-gradient(top , #dc98f8 6% , #8f76eb 100%) !important;
	background: -webkit-linear-gradient(top , #dc98f8 6% , #8f76eb 100%) !important;
	box-shadow:0px 0px .15rem #d4befe;
	color: #fedaf9;
}
.bg5{
	background: linear-gradient(top , #b8d0fd 6% , #2775ee 100%) !important;
	background: -o-linear-gradient(top , #b8d0fd 6% , #2775ee 100%) !important;
	background: -ms-linear-gradient(top , #b8d0fd 6% , #2775ee 100%) !important;
	background: -moz-linear-gradient(top , #b8d0fd 6% , #2775ee 100%) !important;
	background: -webkit-linear-gradient(top , #b8d0fd 6% , #2775ee 100%) !important;
	box-shadow:0px 0px .15rem #c1cfef;
	color: #e8fdff;
}
.bg6{
	background: linear-gradient(top , #fba651 6% , #fc607b 100%) !important;
	background: -o-linear-gradient(top , #fba651 6% , #fc607b 100%) !important;
	background: -ms-linear-gradient(top , #fba651 6% , #fc607b 100%) !important;
	background: -moz-linear-gradient(top , #fba651 6% , #fc607b 100%) !important;
	background: -webkit-linear-gradient(top , #fba651 6% , #fc607b 100%) !important;
	box-shadow:0px 0px .15rem #fdbed3;
	color: #f8ffc1;
}
.bg7{
	background: linear-gradient(top , #f59ee0 6% , #fa5ea2 100%) !important;
	background: -o-linear-gradient(top , #f59ee0 6% , #fa5ea2 100%) !important;
	background: -ms-linear-gradient(top , #f59ee0 6% , #fa5ea2 100%) !important;
	background: -moz-linear-gradient(top , #f59ee0 6% , #fa5ea2 100%) !important;
	background: -webkit-linear-gradient(top , #f59ee0 6% , #fa5ea2 100%) !important;
	box-shadow:0px 0px .15rem #f9cae7;
	color: #fff0ff;
}
.bg8{
	background: linear-gradient(top , #c8b1fc 6% , #e059e4 100%) !important;
	background: -o-linear-gradient(top , #c8b1fc 6% , #e059e4 100%) !important;
	background: -ms-linear-gradient(top , #c8b1fc 6% , #e059e4 100%) !important;
	background: -moz-linear-gradient(top , #c8b1fc 6% , #e059e4 100%) !important;
	background: -webkit-linear-gradient(top , #c8b1fc 6% , #e059e4 100%) !important;
	box-shadow:0px 0px .15rem #f7d6ff;
	color: #fffff8;
}
.bg9{
	background: linear-gradient(top , #3ee9f8 6% , #22a3f7 100%) !important;
	background: -o-linear-gradient(top , #3ee9f8 6% , #22a3f7 100%) !important;
	background: -ms-linear-gradient(top , #3ee9f8 6% , #22a3f7 100%) !important;
	background: -moz-linear-gradient(top , #3ee9f8 6% , #22a3f7 100%) !important;
	background: -webkit-linear-gradient(top , #3ee9f8 6% , #22a3f7 100%) !important;
	box-shadow:0px 0px .15rem #ccecff;
	color: #30fefc;
}
.bg10{
	background: linear-gradient(top , #79f7e6 6% , #6abaf4 100%) !important;
	background: -o-linear-gradient(top , #79f7e6 6% , #6abaf4 100%) !important;
	background: -ms-linear-gradient(top , #79f7e6 6% , #6abaf4 100%) !important;
	background: -moz-linear-gradient(top , #79f7e6 6% , #6abaf4 100%) !important;
	background: -webkit-linear-gradient(top , #79f7e6 6% , #6abaf4 100%) !important;
	box-shadow:0px 0px .15rem #cdf2f5;
	color: #f2ffff;
}

/*广告图片区域css开始*/
.addpic{
	width: 7.18rem;
	height: 3.87rem;
	margin-top: .2rem;
	border-radius: .2rem;
	overflow: hidden;
	background:#efefef;
}
.addpic img{
	width: 100%;
	height: 100%;
border-radius:.2rem;
}
/*公告文字区域css*/
.announcement{
	width: 6.66rem;
	overflow: hidden;
	padding: .14rem .26rem;
	background: #fff;
	border-radius: .2rem;
	margin-top: .1rem;
	height: .8rem;
}
.announcement .pic{
	float: left;
	margin-top: .06rem;
}
.announcement .pic img{
	    width: 1.57rem;
   	   height: .4rem;
    	  display: block;
    	  margin-top: .14rem;
}
.announcement .text{
	margin-left: .24rem;
	overflow: hidden;
	margin-top: 0.1rem;
}
.announcement .text li{
	float: left;
	margin-bottom: .14rem;
	line-height: .24rem;
}
.announcement .text .cir{
	    float: left;
    display: block;
    width: .2rem;
    height: .2rem;
    border: .02rem solid #ff7c30;
    border-radius: 50%;
    position: relative;
    top: 0.01rem;
}
.announcement .text .listr{
	margin-left: .14rem;
	width: 4rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: .02rem;
}
.announcement .text span{
	font-size: .2rem;
	color: #3e3a39;
	float: left;
}
.announcement .line{
	height: .44rem;
	float: left;
	width: 1px;
	margin: .2rem .24rem;
	background: #e5e5e5;
}

/*水果展示区域css*/
.fruidWrap{
	width: 6.86rem;
	background: #fff;
	border-radius: .2rem;
	padding: .18rem .16rem;
	margin-top: .1rem;
}
.fruidWrap li{
	float: left;
	width: 2.18rem;
	height: 2.18rem;
	overflow: hidden;
	margin-right: .15rem;
	border-radius: .2rem;
}
.fruidWrap li img{
	width: 100%;
	height: 100%;
	display: block;
}
/*新品上新图片*/
.newgoodspic{
	width: 7.18rem;
	height: 1.56rem;
	margin-top: .2rem;
    background: #efefef;
}
.newgoodspic img{
	display: block;
	width: 100%;
	height: 100%;
}
/*新品上新区域css*/
.newgoodslist{
	width: 7.18rem;
	border-radius:.2rem;
	margin-top: .1rem;
}
.newgoodslist .twocol .goodsleft{
	float: left;
	width: 3.22rem;
	padding: .26rem .16rem;
	background: #fff;
	border-radius: .2rem;
}
.newgoodslist .twocol .goodsleft li{
	float: left;
	width: 1.46rem;
	font-size: .2rem;
	color: #3e3a39;
	 overflow:hidden; /*内容超出宽度时隐藏超出部分的内容 */
     text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
     white-space:nowrap; /*不换行 */
    text-align: center;
}
.newgoodslist .twocol .goodsleft li p{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
    
.newgoodslist .twocol .goodsleft .pic{
	width: 1.56rem;
	height: 1.56rem;
	margin-bottom: .2rem;
}
.newgoodslist .twocol .goodsleft li span{
	padding-top: .1rem;
	display: block;
	color: #222;
	font-size: .2rem;
}
.newgoodslist .twocol .goodsleft .pic>img{
	display: block;
	width: 100%;
	height: 100%;
}
/*三列商品详情区域css*/
.threecol{
	width: 7.18rem;
	margin: 0 auto;
	background: #fff;
	margin-top: .1rem;
	border-radius: .2rem;
}
.threecol li{
	float: left;
    width: 2.32rem;
   padding-bottom:.15rem;
    background: #fff;
    border-radius: .2rem;
    margin-right: .1rem;
}
.threecol .pic{
	width: 1.6rem;
    height:1.6rem;
    margin: 0 auto;
    /* margin: .34rem auto; */
    margin-top: .34rem;
}
.threecol .pic img{
	width: 100%;
	height: 100%;
	display: block;
}
.threecol li p{
	font-size: .2rem;
	color: #3e3a39;
	width: 1.3rem;
	margin: 0 auto;
	margin-top: .25rem;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
}
.threecol li span{
	display: block;
	width: 1.3rem;
	margin: 0 auto;
	margin-top: .1rem;
	font-size: .2rem;
	color: #222;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*在线拼团css区域开始*/
.onlinegroupcontent{
	height: 4.42rem;
}
.onlinegoodsleft{
	width: 3.1rem;
	height: 4.42rem;
	border-radius: .2rem;
	background: #fff;
	float: left;
}
.onlinegoodsleft .time{
	width: 1.25rem;
	height: .63rem;
	margin: 0 auto;
	margin-top: .2rem;
	border: 1px solid #fea621;
	border-radius: .2rem;
}
.onlinegoodsleft .pic{
	    width: 2.4rem;
    height: 2.4rem;
    margin: 0 auto;
    
}
.onlinegoodsleft .pic img{
	display: block;
	width: 100%;
	height: 100%;
}
.onlinegoodsleft h1{
	width: 2.07rem;
	margin: 0 auto;
	
	text-align: center;
	font-size: .24rem;
	color: #222;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.onlinegoodsleft h2{
	width: 2.07rem;
	margin: 0 auto;
	margin-top: .1rem;
	text-align: center;
	font-size: .2rem;
	color: #3e3a39;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.onlinegoodsleft p{
	width: 2rem;
	margin: 0 auto;
	margin-top: .25rem;
	height: 10px;
}
.onlinegoodsleft p span{
	font-size: .2rem;
	color: #222;
	
}
.onlinegoodstop{
	width: 3.98rem;
	height: 2.16rem;
	border-radius: .2rem;
	background: #fff;
}
.onlinegoodstop .pic{
	    width: 1.4rem;
    height: 1.4rem;
    margin: 0 auto;
}
.onlinegoodstop li{
	float: left;
	font-size: .2rem;
	color: #3e3a39;
	width: 1.99rem;
}
.onlinegoodstop h1{
	width: 1.5rem;
	margin: 0 auto;
	
	color: #3e3a39;
	font-size: .2rem;
	text-align: center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.onlinegoodstop h2{
	font-size: .2rem;
	width: 1.2rem;
	color: #222;
	text-align: center;
	margin: 0 auto;
	margin-top: .14rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.onlinegoodstop .pic img{
	display: block;
	width: 100%;
	height: 100%;
}
/*颜色叠加公用部分css*/
.coloroverlay{
	width: 7.18rem;
	margin: 0 auto;
	height: .7rem;
	border-radius:.2rem ;
	overflow: hidden;
	margin-top: .14rem;
}
.coloroverlaywrap{
	width: 6.16rem;
	float: left;
	height: .7rem;
	position: relative;
}
.coloroverlaywrap div{
	height: .7rem;
	line-height: .7rem;
	color: #fff;
	font-size: .24rem;
	position: absolute;
	border-radius: .15rem;
}
.zbottom{
	width: 1.58rem;
	background: linear-gradient(left , #58cff5 6% , #54d8fa 100%) !important;
	background: -o-linear-gradient(left , #58cff5 6% , #54d8fa 100%) !important;
	background: -ms-linear-gradient(left , #58cff5 6% , #54d8fa 100%) !important;
	background: -moz-linear-gradient(left , #58cff5 6% , #54d8fa 100%) !important;
	background: -webkit-linear-gradient(left , #58cff5 6% , #54d8fa 100%) !important;
	text-indent: .18rem;
}
.zfirst{
	left: .92rem;
	z-index: 1;
	background: linear-gradient(left , #26b6f5 6% , #27c0fc 100%) !important;
	background: -o-linear-gradient(left , #26b6f5 6% , #27c0fc 100%) !important;
	background: -ms-linear-gradient(left , #26b6f5 6% , #27c0fc 100%) !important;
	background: -moz-linear-gradient(left , #26b6f5 6% , #27c0fc 100%) !important;
	background: -webkit-linear-gradient(left , #26b6f5 6% , #27c0fc 100%) !important;
}
.zsecond{
	left: 1.84rem;
	z-index: 2;
	background: linear-gradient(left , #1492f1 6% , #12c2f8 100%) !important;
	background: -o-linear-gradient(left , #1492f1 6% , #12c2f8 100%) !important;
	background: -ms-linear-gradient(left , #1492f1 6% , #12c2f8 100%) !important;
	background: -moz-linear-gradient(left , #1492f1 6% , #12c2f8 100%) !important;
	background: -webkit-linear-gradient(left , #1492f1 6% , #12c2f8 100%) !important;
}
.zthree{
	left: 2.73rem;
	z-index: 2;
	background: #fff !important;
	width: 3.45rem;
	color: #6a6a6a !important;
}
.zthree .r{
	float: right;
	margin-right: .18rem;	
}
.square{
	width: .92rem;
	height: .7rem;
	background: #fff;
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem;
	border-top-left-radius: .16rem;
	border-bottom-left-radius: .16rem;
}
.square img{
	width: .42rem;
	height: .42rem;
	margin-top: .15rem !important;
}
.squarecube{
	width: .92rem;
	height: .7rem;
	background: #fff;
	border-top-right-radius: .2rem;
	border-bottom-right-radius: .2rem;
	border-top-left-radius: .16rem;
	border-bottom-left-radius: .16rem;
}
.squarecube img{
	width: .42rem;
	height: .42rem;
	margin-top: .15rem;
}
/*颜色叠加css*/
.coloroverlaycontent{
	width: 7.18rem;
	margin: 0 auto;
	margin-top: .14rem;
}
.coloroverlaycontent .left{
	padding: .095rem;
	width: 2.6rem;
	background: #fff;
	border-radius: .2rem;
	overflow:hidden;
} 

.coloroverlaycontent .left img{
	width: 2.6rem;
	height: 1.8rem;
	border-radius: .2rem;
	display: block;
}
.coloroverlaycontent .left h1{
	width: 2.43rem;
	font-size: .24rem;
	color: #3e3a39;
	padding-top: .1rem;
	text-align: center;
	    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.coloroverlaycontent .right{
	padding: .095rem;
	width: 4.1rem;
	background: #fff;
	border-radius: .2rem;
} 
.coloroverlaycontent .right img{
	width: 4.1rem;
	height: 1.8rem;
	border-radius: .2rem;
	display: block;
}
.coloroverlaycontent .right h1{
	width: 4rem;
	font-size: .24rem;
	color: #3e3a39;
	padding-top: .1rem;
	text-align: center;
	    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.coloroverlaycontent .midleft {
   
    width: 4.29rem;
    border-radius: .2rem;
    background: #fff;
    float: left;
    
    padding-bottom:.1rem;
}
.coloroverlaycontent .midleft img{
	width: 4.1rem;
	height: 1.8rem;
	margin: 0 auto;
	display: block;
	margin-top:.1rem !important;
	
}
.coloroverlaycontent .midleft h1{
	width: 2.9rem;
	margin: 0 auto;
	font-size: .28rem;
	color: #222;
	text-align: center;
	margin-top: .1rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.coloroverlaycontent .midleft h2{
	width: 2.42rem;
	margin: 0 auto;
	font-size: .20rem;
	color: #3e3a39;
	text-align: center;
	margin-top: .1rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.coloroverlaycontent .midright{
	
	width: 2.79rem;
	padding-bottom:.1rem;
	border-radius: .2rem;
	background: #fff;
	    overflow: hidden;
}
.coloroverlaycontent .midright img{
	width: 2.6rem;
	height: 1.8rem;
	margin: 0 auto;
	display: block;
border-radius:.2rem;
	margin-top:.1rem !important;
	
}
.coloroverlaycontent .midright h1{
	width: 2.32rem;
	margin: 0 auto;
	font-size: .26rem;
	color: #222;
	text-align: center;
	margin-top: .1rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.coloroverlaycontent .midright h2{
	width: 2.42rem;
	margin: 0 auto;
	font-size: .20rem;
	color: #3e3a39;
	text-align: center;
	margin-top: .1rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.coloroverlaycontent .mid{
	width: 7.18rem;
}

.dotcontent li{
	width: 1.7944444444444rem;
	float: left;
	padding-top: .2rem;
	padding-bottom: .12rem;
}
.dotcontent img{
	width: 1.6rem;
	height: 1.6rem;
}
.dotcontent h1{
	padding-top: .12rem;
	color: #3e3a39;
	font-size: .24rem;
	padding-bottom: .14rem;
	text-align: center;
	width: 1.32rem;
	margin: 0 auto;
	    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dotcontent h2{
	color: #222;
	font-size: .2rem;
	width: 1.32rem;
	margin: 0 auto;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

/*运动健康区域css*/
.exercise{
	width: 7.18rem;
    height: 1.56rem;
    margin-top: .2rem;
	
}
.exercise img{
	width: 100%;
	height: 100%;
	display: block;
}
.action{
	width: 4.7rem;
	left: 1.4rem;
}
.zfirstaction{
	left: .7rem;
	background: linear-gradient(left , #3be5b4 6% , #3daedf 100%) !important;
	background: -o-linear-gradient(left , #3be5b4 6% , #3daedf 100%) !important;
	background: -ms-linear-gradient(left , #3be5b4 6% , #3daedf 100%) !important;
	background: -moz-linear-gradient(left , #3be5b4 6% , #3daedf 100%) !important;
	background: -webkit-linear-gradient(left , #3be5b4 6% , #3daedf 100%) !important;
}
.zbottomaction{
	background: linear-gradient(left , #3cdbba 6% , #3fb9d7 100%) !important;
	background: -o-linear-gradient(left , #3cdbba 6% , #3fb9d7 100%) !important;
	background: -ms-linear-gradient(left , #3cdbba 6% , #3fb9d7 100%) !important;
	background: -moz-linear-gradient(left , #3cdbba 6% , #3fb9d7 100%) !important;
	background: -webkit-linear-gradient(left , #3cdbba 6% , #3fb9d7 100%) !important;
}
.pinkaction{
	background: linear-gradient(left , #56b8fe 6% , #6f89fd 100%) !important;
	background: -o-linear-gradient(left , #56b8fe 6% , #6f89fd 100%) !important;
	background: -ms-linear-gradient(left , #56b8fe 6% , #6f89fd 100%) !important;
	background: -moz-linear-gradient(left , #56b8fe 6% , #6f89fd 100%) !important;
	background: -webkit-linear-gradient(left , #56b8fe 6% , #6f89fd 100%) !important;
}
.zfirstpinkaction{
	background: linear-gradient(left , #56bbfe 6% , #7c74fe 100%) !important;
	background: -o-linear-gradient(left , #56bbfe 6% , #7c74fe 100%) !important;
	background: -ms-linear-gradient(left , #56bbfe 6% , #7c74fe 100%) !important;
	background: -moz-linear-gradient(left , #56bbfe 6% , #7c74fe 100%) !important;
	background: -webkit-linear-gradient(left , #56bbfe 6% , #7c74fe 100%) !important;
}

/*猜你喜欢css*/
.like li{
	float: left;
	width: 2.32rem;
	height: 3.44rem;
	border-radius: .1rem;
	background: #fff;
	margin-right: .1rem;
	margin-bottom: .1rem;
	position: relative;
}
.like li img{
	    width: 2.1rem;
    height: 2.1rem;
    display: block;
    margin: 0 auto;
    margin-top: .1rem;
}
.like li h1{
	    width: 1.9rem;
    margin: 0 auto;
    text-align: center;
    color: #3E3A39;
    font-size: .2rem;
    margin-top: .2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.like li h2{
	width: 1.9rem;
	margin: 0 auto;
	text-align: center;
	margin-top: .1rem;
	color: #3E3A39;
	font-size: .2rem;
	 overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.like li h3{
	width: 1.9rem;
	margin: 0 auto;
	text-align: center;
	margin-top: .14rem;
	color: #222;
	font-size: .2rem;
	 overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#news{
	height: .7rem;
	overflow: hidden;
}
.colorovertab{
	display: none;
}


/*商家首页css*/
.shopIndexpic{
	margin-top: 0 !important;
	width:100% !important;
	height: 100% !important;
	}
.pictitle{
	height: .7rem;
	overflow: hidden;
}
.pictitle img{
	width: 100%;
	height: 100%;
	display: block;
}
.shopIndexcard{
	margin-bottom: .42rem;
}
.shopIndexcard .pic{
	width: 100%;
	height: 3.4rem;
	border-radius: .2rem;
	overflow: hidden;
}
.shopIndexcard .pic img{
	width: 100%;
	height: 100%;
	display: block;
}
.cardnavcontent ul{
	margin-left: -.1rem;
}
.cardnavcontent li{
	    float: left;
    width: 2.3rem;
    margin-left: .1rem;
    margin-top: .15rem;
}
.cardnavcontent li .pic{
	width: 2.3rem;
	height: 2.3rem;
	border-radius: .2rem;
	background: #fff;
	text-align: center;
}
.cardnavcontent li .pic img{
	width: 2.1rem;
    height: 2.1rem;
    margin: 0 auto;
    display: block;
    margin-top: .1rem;

}
.cardnavcontent li h1{
	width: 1.8rem;
	font-size: .22rem;
	margin: 0 auto;
	color: #323232;
	padding-top: .2rem;
	text-align: center;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	
}
.cardnavcontent li h2{
	width: 1.6rem;
	margin: 0 auto;
	font-size: .20rem;
	color: #323232;
	padding-top: .15rem;
	text-align: center;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cardnavcontent li h3{
	
	margin: 0 auto;
	font-size: .24rem;
	color: #323232;
	padding-top: .2rem;
	text-align: center;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}
/*店铺首页底部tabbar css*/
.footerbar{
	height: .92rem;
	background: #fff;
	line-height: .92rem;
	text-align: center;
	bottom: 0px;
	z-index:999999;
}
.footerbar .textbar li{
	float: left;
	width: 2.18rem;
	font-size: .28rem;
	color: #323232;
	position: relative;
}
.footerbar .textbar li .line{
	position: absolute;
	width: .01rem;
	background: #e1e1e1;
	height: .4rem;
	    top: .265rem;
}

.footerbar .wechat{
	float: right;
	width: .9425555555555555555555rem;
	border-left:1px solid #e1e1e1 ;
	font-size: .2rem;
	color: #323232;
}
.coloroverlaycontent .midleft img.h150{
	height:1.5rem !important;
}
.coloroverlaycontent .midright img.h150{
height:1.5rem !important;
}
.swiper-containersj{
	width: 100%;
	background: red;
}

/*优惠券页面*/
.couponcontent .list-group-item{
	margin-top: .2rem;
}
.couponlist{
	height: 1.56rem;
	border-radius: .2rem;
	background: #fff;
	margin-bottom: .1rem;
	position: relative;
	overflow: hidden;
}
.couponopic{
	    height: 100%;
    background-size: cover;
    width: 2.2rem;
    background: url(../media/coupon/kabao_shangjia@3x.png);
    /* height: 100%; */
    height: 1.56rem;
    background-size: cover;
    text-align: center;
}
.couponopic h1{
	margin-top: .4rem;
	font-size: .38rem;
	color: #fff;
}
.couponopic h2{
	margin-top: .2rem;
	font-size: .22rem;
	color: #fff;
}
.coupontext p{
	margin-top: .22rem;
	margin-left: .2rem;
	font-size: .26rem;
	color: #3E3A39;
}
.coupontext p span{
	color: #9FA0A0;
	font-size: .22rem;
}
.coupontext .time{
	margin-top: .2rem;
	margin-left: .2rem;
	color: #9FA0A0;
	font-size: .22rem;
}
.sudouse{
	margin-top: .64rem;
	margin-right: .2rem;
	width: 1.44rem;
	height: .42rem;
	border: 2px solid #5d94ed;
	border-radius: .35rem;
	text-align: center;
	line-height: .42rem;
	color: #5d94ed;
	
}
.couponcontent .list-group-item{
	background: none;
}
.yiguoqi{
	    background: url('../media/coupon/yiguoqidi@3x.png');
	        background-size: cover;
}
.coupon{
	border-radius: .2rem !important;
}
.evertime{
	    position: absolute;
    /* top: .24rem; */
    right: -.1rem;
    top: .24rem;
}
.coupontip{
	padding-bottom: .1rem;
	    color: #999;
	font-size: .24rem;
}
/*credit页面css*/
.creditinfo{
	height: 2.1rem;
	margin-top: .2rem;
}
.creditinfo .creditpic{
	width: 3.02rem;
	height: 2.1rem;
	border-right: 1px dotted #c9c9c9;

}
.creditinfo .creditpic img{
	width: 1.5rem;
	height: 1.5rem;
	margin-top: .3rem;
	margin-left: .8rem;
	display: block;
}
.credittext{
	width: 1.42rem;
	height: .94rem;
	margin-left: 1.36rem;
	margin-top: .6rem;
}
.credittext h1{
	text-align: center;
	font-size: .42rem;
	color: #fe3747;
}
.credittext h2{
	text-align: center;
	font-size: .24rem;
	color: #fe3747;
	margin-top: .2rem;
	width: 1.42rem;
	line-height: .3rem;
	background: #efefef;
	border-radius: .35rem;
	height: .3rem;
	color: #3E3A39;
	
}
.creditlist{
	    border-bottom: 1px solid #ddd;
    padding-bottom: .2rem;
    padding-top: .2rem;
}
.creditlist .creditcontenttext{
	padding-top: .1rem;
	margin-left: .2rem;
}
.creditlist .creditcontenttext h1{
	font-size: .28rem;
	color: #3e3a39;
}
.creditlist .creditcontenttext h2{ 
	margin-top: .2rem;
	width: 1.28rem;
	height: .28rem;
	line-height: .28rem;
	text-align: center;
	color: #9FA0A0;
	font-size: .24rem;
	border: 1px solid #9FA0A0;
	border-radius: .15rem ;
}
.credittime{
	font-size: .22rem;
	color: #9FA0A0;
	margin-top: .32rem;
	margin-right: .23rem;
}
.creditmore{
	color: #FF3649;
	margin-top: .2rem;
	font-size: .3rem;
	margin-right: .23rem;
}
.creditcontentwrap{
	padding: .2rem;
	background: #fff;
	border-radius: .2rem;
}
.creditlist:nth-child(1){
	padding-top: 0;
}

/*会员*/
.enterstorebtn{
	width: 1.66rem;
	height: .5rem;
	border-radius: .35rem;
	border: .026rem solid #fff;
	line-height: .5rem;
	text-align: center;
	font-size: .26rem;
	color: #fff;
	background: rgba(0,0,0,.7);
	margin: 0 auto;
	margin-top: .2rem;
}
.storemainlogo{
	    max-width: 1.8rem;
    max-height: 1.26rem;
	margin: 0 auto;
	margin-top: .6rem;
}
.storemainlogo img{
	display: block;
	width: 100%;
	height:100%;
}
.vipcard{
    height: 3.2rem;
    background: #dec08e;
    border-radius: .14rem;
    width: 5.9rem;
    margin-top: .6rem;
    padding: .3rem .4rem .4rem .4rem;
    box-shadow: 0px 0px 0.1rem #cfcfd0;
}
.vipcard .storelogo{
	    max-height: .76rem;
    max-width: 1.08rem;
}
.storelogo img{
	display: block;
	width: 100%;
	height:100%;
}
.vipcard .rule{
	font-size: .22rem;
	color: #fff;
}
.vipcard h2{
	color: #fff;
	font-size: .26rem;
	padding: .2rem 0;
	width: 100%;
	float: left;
}
.vipcard input{
	     display: block;
    float: left;
    width: 4.15rem;
    height: .7rem;
    border: none;
    text-indent: .2rem;
    color: #3e3a39;
    padding: 0px;
    font-size: .26rem;
}
.vipcard button{
	    display: block;
    width: 1.6rem;
    height: .7rem;
    float: right;
    font-size: .26rem;
    border-radius: .35rem;
    line-height: .7rem;
    background: rgba(0,0,0,.25);
    text-align: center;
    color: #fff;
    border: none;
}
.vipcard p{
    float: left;
    margin-top: .15rem;
    color: #fff;
    font-size: .18rem;
    line-height: .3rem;
    width: 4.7rem;
}
.vipcard p span{
	display: inline-block;
	margin-left: .1rem;
	margin-top: .47rem;
	border-radius: .35rem;
	width: .87rem;
	height: .27rem;
	border-radius: .35rem;
	text-align: center;
	line-height: .3rem;
	background: #fff;
	color: #ddc18d;
}
.equity{
	margin: 0 auto;
	margin-top: .6rem;
	width: 6.7rem;
	
}
.equity h2{
	color: #3E3A39;
	font-size: .3rem;
	    padding-bottom: .3rem;
}
.equity h2 span{
	    font-size: .24rem;
    color: #666464;
    padding-left: .1rem;
}
.equity ul{
	background: #fff;
    border-radius: .14rem;
    padding: .3rem .42rem;
        height: 1.6rem;
}
.equity ul li{
        width: 22.6%;
    float: left;
    margin-right: .18rem;
    font-size: .22rem;
    text-align: center;
    color: #666464;
}
.equity ul li a{
	    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin: 0 auto;
    font-size: .6rem;
    margin-bottom: .3rem;
    line-height: 1rem;
}
.equity ul li a i{
	    font-size: 1rem;
}
.icon-jifen:before{
	color: #fff !important;
}
.equity ul li:nth-child(4){
	margin-right: 0;
}
/*会员列表*/
.member_list{
	height: 2.6rem;
	overflow: hidden;
	background: url(<?php echo CDN_URL ?>media/member/tu1@3x.png);
	
	position: relative;
	margin-bottom: .2rem;
}
.t2{
	background: url('https://cdn-remote.517ybang.com/media/member/tu2@3x.png') !important;
	background-size: contain !important;
}
.t3{
	background: url('https://cdn-remote.517ybang.com/media/member/tu3@3x.png') !important;
	background-size: contain !important;
}
.t4{
	background: url('https://cdn-remote.517ybang.com/media/member/tu4@3x.png') !important;
	background-size: contain !important;
}
.memberlistpic{
	    width: 1rem;
    height: 1rem;
    margin-top: .4rem;
    margin-left: .4rem;
    border-radius: .2rem;
    float: left;
}
.memberlistpic img{
	display: block;
	width: 100%;
height:100%;
}
.member_list h1{
	font-size: .28rem;
	color: #FFF;
	margin-left: .2rem;
	margin-top: .8rem;
	float: left;
	}
.entermember{
      width: 1.6rem;
    height: .56rem;
    font-size: .26rem;
    float: right;
    margin-top: .62rem;
    color: #3e3a39;
    background: #fff;
    text-align: center;
    line-height: .56rem;
    border-radius: .35rem;
    margin-right: .4rem;
}
.memberdescription{
	position: absolute;
	height: .8rem;
	line-height: .8rem;
	text-align: center;
	font-size: .24rem;
	color: #3e3a39;
	background: rgba(255,255,255,.7);
	width: 100%;
	bottom: -1px;
}
.viptext{
	    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
}

/*商品分类页面*/

.menu-left,.menu-right{position:fixed; left:0;top:0; bottom:0; overflow-y: scroll;}
.menu-left ul{background:#fff;width:1.59rem;}
.menu-left ul li{    /* padding: 1.3rem .8rem; */
	    line-height: .8rem;
   
    box-sizing: border-box;

    width: 1.59rem;
    text-align: center;
    border-bottom: 1px solid #ececec;
    color: #4b4b4b;
    height: .8rem;
    font-size: .28rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-left ul li.active{background:#f7f7f7; position:relative;color: #ff415b}
.menu-left ul li.active:before{
	    content: " ";
    position: absolute;
    display: block;
    width: .06rem;
    height: 100%;
    background: #ff415b;
    top: 0;
    left: 0;
}
.menu-right{

    position: fixed;
    width: 5.5rem;
    left: 1.8rem;}
.menu-right h5{
    text-align: center;
    font-size: .24rem;
    margin: 0 auto;
    color: #2d2d2d;
    margin-top: .4rem;
    margin-bottom: .7rem;
    width: 2.26re;
    /* width: 2.26rem; */
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-right h5 i{
	color:#ededed;
}
.menu-right h5 span{
	position: absolute;
	width: .38rem;
	height: 1px;
	background: #ededed;
	display: block;
	top: .12rem;
}
.menu-right ul{    overflow: hidden;
    padding: 0px .08rem;}
.menu-right ul li{
	text-align: center;
	width: 33%;
	float: left;
	margin-bottom: .34rem;
	}
.menu-right ul li img{
	width: 1.77rem;
}

.menu-right ul li span{
	    display: block;
    /* height: 2.6rem; */
    color: #4b4b4b;
    /* line-height: 2.6rem; */
    overflow: hidden;
    text-align: center;
    font-size: .24rem;
}


.mune-no-img span{border:1px solid #efefef; color:#555; border-radius: 4px;}
.category_pic{
	width: 5.5rem;
	height: 1.95rem;
}
.category_pic img{
	display: block;
	width: 100%;
	margin-top: .3rem;
}





.evaluationinfo{
	line-height:.5rem;
}
.evaluationinfo .pic{
	width: .56rem;
	height: .56rem;
}
.evaluationinfo .pic img{
	display: block;
	width: 100%;
}
.evaluationinfo span{
	display: block;
	font-size: .26rem;
	color: #3e3a39;
    margin-left: .1rem;
}
.evaluationinfo time{
	font-size:.26rem;
color:#898989;
}
.evaluationcontent p{
	    font-size: .2rem;
    color: #3e3a39;
    padding: .2rem;
    line-height: .3rem;
}
.evaluationbtn{
	width: 1.8rem;
    font-size: .2rem;
    height: .5rem;
    color: #fff;
    background: -webkit-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
    box-shadow: 0px 0px 0.15rem #ffc7bc;
    border-radius: .35rem;
    text-align: center;
    line-height: .5rem;
    margin-top: .3rem;
}
.shopInfo{
	width: 6.7rem;
	padding: .2rem;
	padding-bottom: .3rem;
}
.shopInfo .headerinfo .pic{
	width: 1rem;
	height: 1rem;
}
.shopInfo .headerinfo .pic img{
	width: 100%;
	display: block;
}
.shopInfo .headertext h1{
	    font-size: .26rem;
    color: #3e3a39;
}
.shopInfo .headertext{
	    margin-left: .2rem;
    margin-top: .24rem;
}
.shopInfo .headertext h2{
	    font-size: .20rem;
    color: #666464;
        margin-top: .1rem;
}
.shopinfolist{
	    font-size: .26rem;
    margin-top: .45rem;
}
.shopinfolist li{
	    float: left;
    width: 33%;
    text-align: center;
}
.hotactivetitle img{
	display: block;
	width: 100%;
}
.bigadd img{
	display: block;
	width: 100%;
}
.particularstag img{
	display: block;
	width: 100%;
}
.featurescard img{
	display: block;
	width: 100%;
}
.shopinfolike img{
	display: block;
	width: 100%;
}
.shoppic{
	width: 1rem;
	height: 1rem;
}
.shoppic img{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: .2rem;
}
.shopname{
	       font-size: .3rem;
    padding-left: .22rem;
    padding-top: .12rem;
    color: #323232;
    width: 2.5rem;
}
.shopname span{
	width: 100%;
}
.shopname a{
	    display: block;
    width: 1.5rem;
    margin-top: .22rem;
    height: .34rem;
    background: #ff5171;
    font-size: .19rem;
    text-align: center;
    line-height: .34rem;
    color: #fff;
    border-radius: .35rem;
}
.gnwrap{
	font-size: .3rem;
	margin-top: .2rem;
}
.gnwrap a{
	display: block;
	width: 1.04rem;
	height: .54rem;
	border:2px solid #ff5171;
	border-radius: .35rem;
	color: #FF5171;
	text-align: center;
	line-height: .54rem;
	float: left;
}
.gnwrap a:nth-child(2){
	width: 1.33rem;
	margin-left: .2rem;
}
.shopIndextabtitle li{
	    float: left;
  background: #fff;;
    color:  #FF5171;
    font-size: .24rem;
    line-height: .7rem;
    height: .7rem;
    width: 1.76rem;
    text-align: center;
    border-right: 1px solid #FF5171;
}
.shopIndextabtitle li.current{
	  background: #FF5171;
	  color:#fff;
}

.shopIndextabtitle{
	     width: 7.1rem;
    /* margin: 0 auto; */
    float: left;
    margin-bottom: .3rem;
    margin-left: .2rem;
    margin-top: .2rem;
    border-radius: .2rem;
    overflow: hidden;
}
.shopTitle{
	width: 7.1rem;
	margin: 0 auto;
	float: left;
	margin-left: .2rem;
	margin-bottom: .3rem;
	margin-top: .15rem;
}
.shopTitle input{
	float: left;
    height: .66rem;
    width: 4.26rem;
    border: none;
    border-radius: .35rem;
    background: rgba(0,0,0,.1);
    outline: none;
    text-indent: .4rem;
    color: #fff;
}
.shopTitle input::-webkit-input-placeholder{
    color: #fff;opacity:1;
}
.shopback i{
	    color: #fff;
    font-size: .38rem;
    float: left;
    margin-top: .15rem;
    margin-right: .5rem;
}
.star li i{
	    font-size:.22rem;
position:relative;
top:.025rem
}
.freshsupertitle{
	    padding: .12rem .16rem;
    font-size: .22rem;
    width: 6.78rem;
    color: #666464;
    margin-top: .1rem;
        border-radius: .1rem;
}
.freshsupertitle a{
	    padding-right: .27rem;
}
.fruiteContent{
	overflow: hidden;
}
.fruiteContent li{
	float: left;
	    width: 1.775rem;
	height: 2.62rem;
}
.fruiteContent li .pic{
	width: 1.78rem;
	height: 1.78rem;
}
.fruiteContent li .pic img{
	display: block;
	width: 100%;
	height: 100%;
}
.fruiteContent li h1{
	text-align: center;
	width: 100%;
	font-size: .2rem;
	color: #898989;
	padding-top: .1rem;
	    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ml0{
	margin-left: 0px !important;
}
.fruiteContent li h2{
	text-align: center;
	width: 100%;
	font-size: .2rem;
	color: #3e3a39;
	padding-top: .14rem;
}
.price_market{
	background: none !important;
	float: left !important;
	    color: #231815; 
	
}
.lowerprice{
	    position: absolute;
    width: 1rem;
    color: #fe4859;
    font-size: .24rem;
    font-weight: bold;
    /* right: 0; */
    right: .14rem;
}
.lowerprice span:nth-child(2){
	    font-size: .13rem;
    /* margin-top: -4px; */
    position: relative;
    top: -.06rem;
}
.market_buycar{
	width: .45rem;
	height: .45rem;
	border-radius: 50%;
	background: linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
    background: -o-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
    background: -ms-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
    background: -moz-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
    background: -webkit-linear-gradient(right , #ff7a42 6% , #ff415a 100%) !important;
        position: absolute;
   right: .16rem;
    bottom: 0.1rem;
    font-size: .3rem;
    color: #fff;
    line-height: .45rem;
    text-align: center;
}
.supermarketgoodslist h3{
	margin-top: .24rem !important;
}
.member_title{
	height: .7rem;
	line-height: .7rem;
	font-size: .3rem;
	text-align: center;
	color: #3E3A39;
    background: #fff;
    border-bottom-left-radius: .35rem;
    border-bottom-right-radius: .35rem;
    margin-bottom: .2rem;
    position: relative;
}
.member_title i{
	    font-size: .4rem;
    position: absolute;
  
}
.member_title i:nth-child(2){
	  right: 1rem;
    top: .16rem;
}
.member_title i:nth-child(1){
	left: .2rem;
	top: .16rem;
}

.shopIndexcard .pictitle>i{
		    font-size: .34rem;
    line-height: .7rem;
    margin-right: .2rem;
    color: #323232;
	}
.shopIndexcard .pictitle{
	line-height: .7rem;
}
.shopIndexcard .pictitle>span{
		    font-size: .3rem;
    line-height: .7rem;
    margin-right: .2rem;
    color: #323232;
	}
.shopIndexcard strong{
	    font-size: .4rem;
    float: left;
    color: #fff;
    margin-left: .28rem;
    font-weight: 800;
    font-style: italic;
}
/*.bgefefef{
	background:#efefef;
}*/