html{ margin: 0 auto; height: 100%}
body {width: 100%;background-color: #F2F2F3; height: 100%}
a {text-decoration: none;}
.box {width: 100%; height: 100%; position: relative}

/*index*/
.order-header{
    margin: 0 0.2rem 0.2rem 0.2rem;
    background-color: #fff;
    border-radius: 0.15rem;
    font-size: 0.26rem;
    color: #3e3a39;
}
.order-header li{
    width: 20%;
    float: left;
    text-align: center;
    box-sizing: border-box;
}
.order-header li a{
    display: inline-block;
    padding: 0.26rem 0.15rem;
}
.order-active{
    color: #ff3649;
    border-bottom: 0.04rem solid #ff3649;
}
.order-all{
    display: none;
}
.content{
    margin: 0 0.2rem;
    font-size: 0.26rem;
    color: #3e3a39;
}
.order-item{
    background-color: #fff;
    border-radius: 0.15rem;
    padding-bottom: 0.2rem;
    margin:0.1rem 0;
}
.left-float{
    float: left;
}
.right-float{
    float: right;
}
.item-title{
    display: block;
    color: #3e3a39;
    padding: 0.2rem;
}
.item-title .title-left i{
    font-size: 0.36rem;
    margin-right: 0.2rem;
}
.item-detail{
    display: block;
    padding: 0 0.2rem;
    border-top: 0.01rem solid #DDDDDD;
}
.item-left{
    height: 1.4rem;
    width: 1.4rem;
    margin: 0.1rem 0.2rem 0.1rem 0;
}
.item-left img{
    display: block;
    height: 1.4rem;
    width: 1.4rem;
}
.item-center{
    width: 3.8rem;
}
.item-center p:first-child{
    color: #3e3a39;
    padding: 0.2rem 0 0.15rem 0;
}
.item-center p:last-child{
    font-size: 0.22rem;
    color: #9fa0a0;
}
.item-right{
    padding-top: 0.2rem;
    text-align: right;
    color: #3e3a39;
}
.item-right .price-text{
    color: #9fa0a0;

}
.item-right .cont-indent{
    padding-top: 0.1rem;
    color: #3e3a39;
}
.item-price{
    text-align: right;
    padding-right: 0.2rem;
}
.item-operation{
    text-align: right;

}
.item-operation span{
    display: inline-block;
    width: 1.2rem;
    height: 0.54rem;
    text-align: center;
    line-height: 0.5rem;
    margin: 0.2rem 0.2rem 0 0;
    border: 0.02rem solid #9fa0a0;
    border-radius: 0.27rem;
}
.item-operation a{
    display: inline-block;
    width: 1.2rem;
    height: 0.54rem;
    text-align: center;
    line-height: 0.5rem;
    margin: 0.5rem -0.4rem 0 0;
    border: 0.02rem solid #9fa0a0;
    border-radius: 0.27rem;
}
.weight{
    font-weight: 600;
}
.item-operation .current-red{
    border: 0.02rem solid #ff3649;
    color: #ff3649;
}
.item-operation .current-red a{
    color: #ff3649;
}
.current-status{
    color: #ff3649;
}
.tips{display: none;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.3);position: fixed; z-index: 100;margin-top: -0.2rem;
}
.delete{
    display: none;
    width: 6.5rem;
    height: 3rem;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -3.25rem;
    top: 50%;
    margin-top: -1.8rem;
    border-radius: 0.15rem;
    font-size: 0.3rem;
}
.delete p:first-child{
    height: 0.88rem;
    line-height: 0.88rem;
    color: #ff3649;
    padding-left: 0.2rem;
}
.delete p:nth-child(2){
    font-size: 0.26rem;
    color: #3e3a39;
    padding: 0.3rem 0 0.6rem 0.2rem;
    border-bottom: 0.01rem solid #c9caca;
}
.confirm-select{
    width: 100%;
    padding-top: 0.2rem;
}
.confirm-select div{
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}
.confirm-select div:first-child{
    border-right: 0.01rem solid #c9caca;
}
.confirm-select div:nth-child(2){
    color: #ff3649;
}
.receipt{
    display: none;
    position: absolute;
    width: 6.5rem;
    height: 3.65rem;
    color: #3e3a39;
    background-color: #fff;
    left: 50%;
    margin-left: -3.25rem;
    top: 50%;
    margin-top: -1.8rem;
    border-radius: 0.15rem;
    font-size: 0.3rem;
}
.place-input{
    padding: 0.2rem 0;
    text-align: center;
    border-bottom: 0.01rem solid #c9caca;
}
.receipt input{
    height: 0.8rem;
    width: 5.42rem;
    border: 0.02rem solid #c9caca;
    border-radius: 0.12rem;
    margin: 0.4rem 0 0 0.43rem;
    padding-left: 0.2rem;
}
.forget{
    text-align: right;
    border-bottom: 0.01rem solid #c9caca;
}
.forget a{
    display: inline-block;
    font-size: 0.26rem;
    color: #9fa0a0;
    padding: 0.2rem 0.4rem 0.2rem 0;
}
.cancel{
    display: none;
    position: absolute;
    width: 6.5rem;
    /*height: 6.62rem;*/
    color: #3e3a39;
    background-color: #fff;
    left: 50%;
    margin-left: -3.25rem;
    top: 50%;
    margin-top: -3.4rem;
    border-radius: 0.15rem;
    font-size: 0.3rem;
}
.cancel-reason{
    color: #ff3649;
    padding: 0.3rem 0 0.3rem 0.2rem;
    border-bottom: 0.01rem solid #ff3649;
}
.reason-list span{
    display: inline-block;
    float: left;
    margin-left: 0.2rem;
    padding: 0.27rem 0;
}
.reason-list{
    border-bottom: 0.01rem solid #c9caca;
}
.reason-list i{
    float: right;
    display: inline-block;
    height: 0.4rem;
    width: 0.4rem;
    margin-top: 0.2rem;
    margin-right: 0.2rem;
}
.reasonSelect{
    background: url("../media/order/xuanzhong@3x.png") no-repeat;
    background-size: 0.4rem 0.4rem;
}
.reasonUnSelect{
    background: url("../media/order/weixuanzhong@3x.png") no-repeat;
    background-size: 0.4rem 0.4rem;
}
.icon-Arrow{
    margin-left: 0.1rem;
}
.line{
    height: 0.2rem;
    width: 100%;
}


/*detail*/
.detail-header{
    margin:0 0.2rem 0 0.2rem; background-color: #fff;border-radius: 0.15rem;font-size: 0.26rem;color: #3e3a39;
}
.detail-type1{
    height: 1.4rem;
    background: url("../media/order/daipingjia@3x.png") no-repeat;
    background-size: 100% 1.4rem;
    padding-left: 0.8rem;
    color: #ffffff;
}
.detail-type2{
    height: 1.4rem;
    background: url("../media/order/daipingjia@3x.png") no-repeat;
    background-size: 100% 1.4rem;
    padding-left: 0.8rem;
    color: #ffffff;
}
.detail-type3{
    height: 1.4rem;
    background: url("../media/order/daifahuo@3x.png") no-repeat;
    background-size: 100% 1.4rem;
    padding-left: 0.8rem;
    color: #ffffff;
}
.detail-type4{
    height: 1.4rem;
    background: url("../media/order/daifukuan@3x.png") no-repeat;
    background-size: 100% 1.4rem;
    padding-left: 0.8rem;
    color: #ffffff;
}
.detail-type5{
    height: 1.4rem;
    background: url("../media/order/daishouhuo@3x.png") no-repeat;
    background-size: 100% 1.4rem;
    padding-left: 0.8rem;
    color: #ffffff;
}
.detail-type6{
    height: 1.4rem;
    background: url("../media/order/yiguanbi@3x.png") no-repeat;
    background-size: 100% 1.4rem;
    padding-left: 0.8rem;
    color: #ffffff;
}
.detail-address{
    padding: 0.3rem 0.2rem 0.3rem 0.8rem;
    position: relative;
}
.detail-address div b:first-child{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.detail-address div{
    padding-bottom: 0.2rem;
}
.detail-address div b:last-child{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.detail-address p:last-child{
    padding-top: 0.08rem;
}
.detail-address i{
    position: absolute;
    left: 0.15rem;
    top: 0.85rem;
    font-size: 0.4rem;
}
.order-content{
    margin: 0.1rem 0.2rem;
    font-size: 0.26rem;
}
.order-list{
    background-color: #fff;
    border-radius: 0.15rem;
}
.order-list .item-detail{
    padding-bottom: 0.2rem;
}
.price-type{
    margin: 0.1rem 0.2rem;
    background-color: #fff;
    font-size: 0.26rem;
    color: #3e3a39;
    border-radius: 0.15rem;
}
.price-info{
    padding: 0.3rem 0 0.2rem 0.2rem;
    font-weight: 600;
    border-bottom: 0.01rem solid #DDDDDD;
}
.total{
    margin: 0 0.2rem;
}
.total span {
    padding: 0.05rem 0;
}
.total span:first-child{
    display: inline-block;
    width: 50%;
    font-size: 0.24rem;
    color: #666464;
}
.total span:last-child{
    display: inline-block;
    text-align: right;
    width: 50%;
    font-size: 0.24rem;
    color: #666464;
}
.total-box{
    border-bottom: 0.01rem dashed #DDDDDD;
    padding: 0.2rem 0;
}
.total-box .total .weight{
    font-weight: 600;
    font-size: 0.26rem;
    color: #3e3a39;!important;
}
.total-box:last-child{
    border: none;
}
.detail-btn{
    margin: 0.1rem 0.2rem;
    background-color: #fff;
    font-size: 0.24rem;
    color: #3e3a39;
    border-radius: 0.15rem;
}
.detail-btn div{
    height: 0.6rem;
    width: 3.22rem;
    line-height: 0.6rem;
    text-align: center;
    border: 0.02rem solid #9fa0a0;
    border-radius: 0.1rem;
}
.detail-btn .customer-service{
    float: left;
    margin: 0.2rem 0 0.2rem 0.2rem;
}
.detail-btn .tel-service{
    float: right;
    margin: 0.2rem 0.2rem 0.2rem 0;
}
.order-parameter{
    margin: 0.1rem 0.2rem 0.8rem 0.2rem;
    background-color: #fff;
    font-size: 0.24rem;
    color: #666464;
    border-radius: 0.15rem;
    padding: 0.2rem 0.2rem 0.3rem 0.2rem;

}
.serial-number{
    float: left;
    margin-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.number-copy{
    float: right;
    border: 0.02rem solid #9fa0a0;
    border-radius: 0.06rem;
    padding: 0.05rem;
}
.order-parameter p{
    height: 0.34rem;
    line-height: 0.34rem;
}
.detail-operation{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: right;
    background-color: #fff;
    border-top: 0.02rem solid #D4D4D4;
    padding: 0.22rem 0;
    font-size: 0.24rem;
}
.detail-operation a{
    height: 0.5rem;
    width: 1.4rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.24rem;
    color: #3e3a39;
    display: inline-block;
    border: 0.02rem solid #9fa0a0;
    border-radius: 0.25rem;
    margin-right: 0.3rem;
}

.status1{
    display: none;
}
.status2{
    display: none;
}
.status3{
    display: none;
}
.status4{
    display: none;
}
.status5{
    display: none;
}
.status6{
    display: none;
}
.status7{
    display: none;
}
.line{
    height: 0.2rem;
    width: 100%;
}


/*pay*/
.pay-detail{
    margin: 0 0.2rem 0.2rem 0.2rem;
    font-size: 0.26rem;
    color: #9fa0a0;
}
.pay-list{
    margin-bottom: 0.1rem;
    height: 0.8rem;
    line-height: 0.8rem;
    background-color: #fff;
    border-radius: 0.15rem;
}
.pay-list div:first-child{
    float: left;
    padding-left: 0.2rem;
}
.pay-list div:nth-child(2){
    float: right;
    padding-right: 0.2rem;
}
.pay-detail .pay-list:last-child{
    height: 1.04rem;
    font-size: 0.3rem;
    color: #0c8602;
    line-height: 1.04rem;
    border: 1px solid #0c8602;
}
.pay-list div:last-child{
    font-size: 0.3rem;
    color: #0c8602;
}
.pay-list b{
    font-size: 0.46rem;
}
.pay-type{
    margin-top: 0.5rem;
    font-size: 0.3rem;
    color: #3e3a39;
}
.pay-type p{
    padding: 0.2rem;

}
.pay-type-btn img{
    display: block;
    width: 1.62rem;
    height: 1.04rem;
    margin-left: 0.2rem;
    float: left;
}
.tips{display: none;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.3);position: fixed; z-index: 100;margin-top: -0.2rem;
}
.success{
    display: none;
    width: 6.5rem;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -3.25rem;
    top: 50%;
    margin-top: -1.8rem;
    border-radius: 0.15rem;
    font-size: 0.3rem;
}
.result-text{
    height: 2.3rem;
    line-height: 2.3rem;
    text-align: center;
    font-size: 0.4rem;!important;
}
.result-text img{
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    margin-right: 0.2rem;
    vertical-align: text-bottom;
}
.confirm-select{
    width: 100%;
    padding: 0.3rem 0;
    /*border-top: 0.01rem solid #c9caca;*/
}
.confirm-select div{
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}
.confirm-select div:first-child{
    border-right: 0.01rem solid #c9caca;
}
.confirm-select div:nth-child(2){
    color: #ff3649;
}
.fail{
    display: none;
    width: 6.5rem;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -3.25rem;
    top: 50%;
    margin-top: -1.8rem;
    border-radius: 0.15rem;
    font-size: 0.3rem;
}





/*group_purchase*/

.coupon-list{
    background-color: #fff;
    margin: 0 0.2rem 0.2rem 0.2rem;
    border-radius: 0.15rem;
}
.cou-info{
    border-bottom: 0.01rem solid #efefef;
}
.icon-voucher-icon{
    font-size: 0.7rem;
    float: left;
    width: 0.7rem;
    height: 0.7rem;
    border: 0.02rem solid #e83c49;
    border-radius: 50%;
    margin: 0.3rem 0 0 0.3rem;
}
.cou-name{
    float: left;
    padding: 0.3rem 0;
    margin-left: 0.2rem;
}
.cou-name p:first-child{
    font-size: 0.3rem;
    color: #3e3a39;
    padding: 0.05rem 0 0 0;
}
.cou-name p:nth-child(2){
    font-size: 0.24rem;
    color: #666464;
    padding: 0.05rem 0;
}
.cou-info .icon-jiantou{
    float: right;
    font-size: 0.3rem;
    color: #666464;!important;
    padding: 0.5rem 0.2rem 0.3rem 0.4rem;
}
.cou-password{
    height: 4.1rem;
    font-size: 0.26rem;
    color: #666464;
    text-align: center;
}
.cou-password p{
    line-height: 0.36rem;
    padding: 0.35rem 0 0.22rem 0;
}
.cou-password p span{
    font-size: 0.36rem;
    font-weight: 700;
    color: #3e3a39;
    padding-left: 0.3rem;
}
.cou-password p span:first-child{
    display: inline-block;
    font-size: 0.26rem;
    color: #666464;
    padding-left: 0;
    vertical-align: 0.03rem;
}
.cou-password-img{
    display: inline-block;
    width: 2.82rem;
    height: 2.82rem;
    border: 0.03rem solid #efefef;
    border-radius: 0.2rem;
    text-align: center;
}
.cou-password-img img{
    display: inline-block;
    width: 1.86rem;
    height: 1.86rem;
    margin-top: 0.5rem;
}
.line{
    height: 0.2rem;
    width: 100%;
}




/*group-order*/
.group-order-header{
    margin: 0 0.2rem 0.2rem 0.2rem;
    background-color: #fff;
    border-radius: 0.15rem;
    font-size: 0.26rem;
    color: #3e3a39;
}
.group-order-header li{
    width: 25%;
    float: left;
    text-align: center;
    box-sizing: border-box;
}
.group-order-header li a{
    display: inline-block;
    padding: 0.26rem 0.15rem;
}


/*group_detail*/
.public{
    margin: 0 0.2rem 0.2rem 0.2rem;
    background-color: #fff;
    border-radius: 0.15rem;
    font-size: 0.3rem;
    color: #3e3a39;
}
.group{
    display: flex;
    padding: 0.2rem;
    border-bottom: 0.01rem solid #e1e1e1;
}
.group-img{
    width: 2rem;
}
.group-img img{
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 0.15rem;
    vertical-align: middle;
}
.group-info{
    flex: 1;
}
.info-text{
    height: 1.2rem;
}
.info-text p:first-child{
    padding: 0.03rem 0;
}
.info-text p:nth-child(2){
    font-size: 0.26rem;
    color: #9FA0A0;
    padding: 0.05rem 0;
}
.price{
    font-size: 0.3rem;
    color: #FF3649;
    padding: 0.1rem 0;
}
.price span:last-child{
    font-size: 0.24rem;
    color: #c9caca;
    margin-left: 0.2rem;
}
.group-more{
    width: 0.8rem;
}
.group-more i{
    font-size: 0.4rem;
    padding-left: 0.28rem;
    line-height: 1.8rem;
}
.support{
    width: 100%;
    padding: 0.22rem 0;
    text-align: center;
}
.support .support-left,.support-right{
    float: left;
    width: 50%;
    box-sizing: border-box;
}
.support .support-left{
    border-right: 0.01rem solid #e1e1e1;
}
.support i{
    display: inline-block;
    font-size: 0.3rem;
    color: #000000;
}
.support span{
    padding: 0.06rem 0.2rem;
    display: inline-block;
    font-size: 0.22rem;
}
.group-code{
    margin: 0.2rem;
    background-color: #fff;
    border-radius: 0.15rem;
    font-size: 0.24rem;
    color: #3e3a39;
    padding: 0 0.2rem;
}
.group-code .same{
    height: 0.66rem;
    line-height: 0.66rem;
    border-bottom: 0.01rem solid #e1e1e1;
}
.group-code .same:last-child{
    border-bottom: none;
}
.group-verify .ver-left{
    float: left;
}
.group-verify .ver-right{
    float: right;
}
.group-title{
    font-size: 0.28rem;
}
.group-date{
    font-size: 0.22rem;
    color: #9FA0A0;
}
.available{
    font-size: 0.24rem;
    color: #2abb5b;
}
.used{
    font-size: 0.24rem;
    color: #9FA0A0;
}
.text-red{
    color: #FF3649;
}
.group-order-detail{
    font-size: 0.24rem;
    color: #3e3a39;
    line-height: 0.42rem;
    padding: 0.1rem 0;
}
.copy{
    display: inline-block;
    width: 0.56rem;
    height: 0.34rem;
    font-size: 0.22rem;
    color: #9FA0A0;
    line-height: 0.34rem;
    border: 0.01rem solid #9FA0A0;
    border-radius: 0.08rem;
    text-align: center;
    margin-left: 0.4rem;
}
.group-content{
    display: inline-block;
}
.group-content:first-child{
    width: 50%;
}
.group-content:nth-child(2){
    width: 23%;
}
.group-content:nth-child(3){
    width: 23%;

    text-align: right;
}
.refund{
    margin: 0.3rem 0.2rem 0 0.2rem;
    height: 0.86rem;
    line-height: 0.9rem;
    font-size: 0.3rem;
    color: #9FA0A0;
    text-align: center;
    border-radius: 0.43rem;
    border: 0.01rem solid #9FA0A0;
}

.order-item-none{
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    display: none;
}
.icon_noorder{
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
}
.text-noorder{
    font-size: 0.28rem;
    color: #9FA0A0;
    padding: 0.5rem 0;
}