*:before, *:after {box-sizing: border-box; }
*, *:before, *:after {-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;font-family: "Microsoft YaHei"; font-size: inherit;color: inherit; margin: 0;padding: 0;vertical-align: baseline;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
em, strong { font-style: normal;}
ul, ol, li {list-style: none;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
input{outline:none;}
button{border: none;}
html{ margin: 0 auto; height: 100%}
body {width: 100%;background-color: #F2F2F3; height: 100%}
a {text-decoration: none;}
.box {width: 100%; height: 100%;position: relative;font-size: 0.26rem}


/* index */
.refund-item {
    background-color: #fff;margin: 0.1rem 0.2rem;border-radius: 0.15rem;font-size: 0.26rem;color: #3e3a39;
}
.refund-shops {
    padding: 0.2rem;
    font-weight: 700;
}
.refund-goods {
    display: flex;
    border-top: 0.01rem solid #dddddd;
    padding-bottom: 0.1rem;
}
.refund-goods img{
    display: block;
    width: 1.44rem;
    height: 1.44rem;
    margin: 0.1rem 0.2rem 0 0.2rem;
}
.goods-info{
    flex: 1;
}
.goods-info p:first-child{
    line-height: 0.26rem;
    padding: 0.2rem 0;
}
.goods-info p:nth-child(2){
    height: 0.64rem;
    font-size: 0.22rem;
    color: #9fa0a0;
    line-height: 0.22rem;
}
.goods-info p:nth-child(3){
    font-size: 0.24rem;
    color: #FF3649;
    line-height: 0.24rem;
}
.refund-amount{
    padding: 0.2rem;
    line-height: 0.26rem;
}
.refund-results{
    height: 1.08rem;

}
.results-left{
    float: left;
    font-weight: 700;
    margin: 0.3rem 0 0 0.17rem;
}
.results-right{
    float: right;
    height: 0.54rem;
    width: 1.2rem;
    border: 0.02rem solid #FF3649;
    border-radius: 0.25rem;
    text-align: center;
    line-height: 0.54rem;
    color: #FF3649;
    margin: 0.3rem 0.2rem 0.2rem 0;
}
.icon-dianpu:before {
    content: "\e911";
}
.icon-Arrow:before {
    content: "\e905";
}
.icon-jintuikuan:before {
    content: "\e959";
}
.refund-shops .icon-dianpu:before {
    color: #a0a0a0;
    font-size: 0.36rem;
    padding-right: 0.2rem;
}
.refund-shops .icon-Arrow:before {
    color: #a0a0a0;
    font-size: 0.26rem;
    padding-left: 0.15rem;
}
.refund-results .icon-jintuikuan:before {
    font-size: 0.54rem;
    color: #FF3649;
    vertical-align: -0.1rem;
    padding-right: 0.1rem;
}


/* detail*/
.refund-list {
    background-color: #fff;margin: 0.1rem 0.2rem;border-radius: 0.15rem;font-size: 0.26rem;color: #3e3a39;
    padding-bottom: 0.1rem;
}
.refund-shops {
    padding: 0.2rem;
    font-weight: 700;
}
.refund-goodsName {
    display: flex;
    border-top: 0.01rem solid #dddddd;
    padding-bottom: 0.1rem;
}
.refund-goodsName img{
    display: block;
    width: 1.44rem;
    height: 1.44rem;
    margin: 0.1rem 0.2rem 0 0.2rem;
}
.goods-info{
    flex: 1;
}
.goods-info p:first-child{
    line-height: 0.26rem;
    padding: 0.2rem 0;
}
.goods-info p:nth-child(2){
    height: 0.64rem;
    font-size: 0.22rem;
    color: #9fa0a0;
    line-height: 0.22rem;
}
.goods-info p:nth-child(3){
    font-size: 0.24rem;
    color: #FF3649;
    line-height: 0.24rem;
}
.refund-amount{
    padding: 0.2rem;
    line-height: 0.26rem;
}
.refund-list .icon-dianpu:before {
    color: #a0a0a0;
    font-size: 0.36rem;
    padding-right: 0.2rem;
}
.refund-list .icon-Arrow:before {
    content: "\e905";
    color: #a0a0a0;
    font-size: 0.28rem;
    padding-left: 0.2rem;
}
.negotiate .icon-Arrow:before {
    content: "\e905";
    color: #a0a0a0;
    font-size: 0.28rem;
}
.refund-notice{
    background-color: #fff;
    border-radius: 0.15rem;
    margin: 0.1rem 0.2rem;
    font-size: 0.26rem;
    color: #3e3a39;
    padding: 0.5rem 0.2rem;
}

/* 已退款 */
.icon-refunded:before {
    content: "\e9a4";
}
/* 已取消 */
.icon-cancelled:before {
    content: "\e904";
}
/* 已关闭 */
.icon-closed:before {
    content: "\e9a3";
}
/* 已拒绝 */
.icon-rejected:before {
    content: "\e9a5";
}
/* 待处理 */
.icon-waiting-handling:before {
    content: "\e9a7";
    color: #4e8cee;
}
/* 待退款 */
.icon-waiting-refund:before {
    content: "\e9a8";
}
/* 等待退货 */
.icon-waiting-returns:before {
    content: "\e9a9";
}
.refund-res .icon-refunded:before {
    font-size: 0.46rem;
    color: #27BE58;
    padding-right: 0.2rem;
}
.refund-res .icon-waiting-handling:before {
     font-size: 0.46rem;
     color: #4e8cee;
     padding-right: 0.2rem;
 }
.refund-res .icon-closed:before {
    font-size: 0.46rem;
    padding-right: 0.2rem;
}
.refund-res .icon-cancelled:before {
    font-size: 0.46rem;
    color: #FF3649;
    padding-right: 0.2rem;
}
.refund-res span{
    font-size: 0.32rem;
    font-weight: 700;
}
.refund-notice p{
    line-height: 0.26rem;
}
.refund-notice p span{
    color: #9FA0A0;
}
.refund-notice .refund-amount{
    padding: 0.5rem 0 0 0;
}
.refund-notice .refund-date{
    padding: 0.2rem 0 0 0;
}
.negotiate{
    background-color: #fff;
    border-radius: 0.15rem;
    margin: 0.1rem 0.2rem;
    font-size: 0.26rem;
    color: #3e3a39;
    padding: 0.3rem 0.2rem;
}
.negotiate span{
    display: inline-block;
    width: 50%;
}
.negotiate i{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.refund-info{
    background-color: #fff;
    border-radius: 0.15rem;
    margin: 0.1rem 0.2rem;
    font-size: 0.26rem;
    color: #9FA0A0;
}
.info-title{
    padding: 0.2rem;
    color: #3e3a39;
    border-bottom: 0.01rem solid #dddddd;
}
.info-content{
    padding: 0.1rem 0.2rem;
}
.info-content p{
    line-height: 0.26rem;
    padding: 0.1rem 0;
}
.refund-operation{
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 0.02rem solid #dddddd;
    background-color: #fff;
    padding: 0.22rem 0;
    font-size: 0.24rem;
    color: #3e3a39;
    text-align: right;
}
.refund-operation span{
    display: inline-block;
    width: 1.2rem;
    height: 0.58rem;
    line-height: 0.54rem;
    border: 0.02rem solid #9FA0A0;
    border-radius: 0.25rem;
    text-align: center;
    margin-right: 0.4rem;
}


/* refund_service_type */
.refund-type{
    background-color: #fff;border-radius: 0.2rem;
    margin: 0.2rem;
    padding: 0.2rem 0;
    display: flex;
}
.only-refund{
    flex: 1;
}
.only-refund .only-refund-title{
    font-size: 0.28rem;
    font-weight: 700;
    line-height: 0.28rem;
    padding: 0.1rem 0;
    color: #3e3a39;
}
.only-refund .only-refund-content{
    font-size: 0.26rem;
    line-height: 0.26rem;
    padding: 0.1rem 0;
    color: #9FA0A0;
}
.icon-jintuikuan:before {
    content: "\e959";
}
.icon-tuihuotuikuan:before {
    content: "\e95c";
}
.refund-type .icon-Arrow{
    color: #b5b5b6;
    font-size: 0.3rem;
    line-height: 0.3rem;
    padding: 0.32rem 0.2rem;
}
.refund-type .icon-jintuikuan{
    font-size: 0.54rem;
    color: #FF3649;
    padding: 0 0.15rem;
}
.refund-type .icon-tuihuotuikuan{
    font-size: 0.38rem;
    color: #FF3649;
    padding: 0.1rem 0.2rem;
}

/*refund_goods_selected*/
.bgc{
    background-color: #fff;
    border-radius: 0.2rem;
    margin: 0 0.2rem;
}
.item-list{
    display: flex;
}
.item-img{
    height: 1.9rem;
    width: 1.9rem;
    display: block;
    border-radius: 0.12rem;
    margin: 0.2rem;
    margin-left: 0;
}
.item-info{
    flex: 1;
    padding-top: 0.25rem;
    border-bottom: 0.01rem solid #9FA0A0;
}
.item-info .item-name{
    padding-right: 0.2rem;
    line-height: 0.36rem;
}
.item-introduce{
    font-size: 0.22rem;
    line-height: 0.22rem;
    color: #9FA0A0;
    padding: 0.15rem 0.2rem 0.3rem 0;
}
.item-money{
    display: flex;
    padding-right: 0.2rem;
}
.item-price{
    flex: 1;
}
.item-price del{
    font-size: 0.22rem;
    color: #9FA0A0;
    padding-left: 0.15rem;
}
.icon-un-selected:before {
    content: "\e9a6";
}
.item-list .icon-un-selected{
    color: #e0e0e0;
    font-size: 0.6rem;
    padding: 0 0.2rem;
    line-height: 2.3rem;
}
.all-selected{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0.9rem;
    border-top: 0.01rem solid #E0E0E0;
    background-color: #fff;
}
.all-selected-btn{
    float: left;
    font-size: 0.3rem;
    line-height: 0.9rem;
}
.all-selected-btn .icon-un-selected{
    font-size: 0.6rem;
    line-height: 0.9rem;
    color: #e0e0e0;
    vertical-align: -0.1rem;
    padding: 0 0.2rem 0 0.4rem;
}
.next-btn{
    float: right;
    height: 100%;
    width: 2.15rem;
    background-color: #ff3649;
    font-size: 0.3rem;
    line-height: 0.9rem;
    text-align: center;
    color: #ffffff;
}
.placeholder-line{
    height: 0.2rem;
    width: 100%;
    visibility: hidden;
}

/* refund_application*/
.bgc{
    background-color: #fff;
    border-radius: 0.2rem;
    margin: 0 0.2rem 0.2rem 0.2rem;
    padding: 0 0.2rem;
}
.refund-goods-img{
    padding-bottom: 0.22rem;
}

.goods-title{
    display: flex;
    line-height: 0.26rem;
}
.refund-item{
    padding: 0.34rem 0 0.2rem 0;
}
.explain{
    flex: 1;
    text-align: right;
    padding: 0.2rem 0 0 0;
}
.explain span{
    display: inline-block;
    width: 0.8rem;
    height: 0.34rem;
    line-height: 0.34rem;
    text-align: center;
    color: #898989;
    border: 0.01rem solid #9FA0A0;
    border-radius: 0.06rem;
    margin-top: 0.1rem;
}
.imgs img{
    width: 1.6rem;
    height: 1.6rem;
    display: block;
    float: left;
    border-radius: 0.12rem;
    margin-left: 0.1rem;
    margin-bottom: 0.1rem;
}
.imgs img:first-child{
    margin-left: 0;
}
.imgs img:nth-child(5){
    margin-left: 0;
}
.refund-money{
    display: flex;
    line-height: 0.26rem;
    padding: 0.32rem 0.2rem;
}
.money-title span{
    color: #FF3649;
    padding-left: 0.34rem;
}
.money-message{
    flex: 1;
    text-align: right;
}
.money-message{
    color: #666464;
}
.goods-status{
    padding: 0.28rem 0;
    border-bottom: 0.01rem solid #dddddd;
}
.goods-status span{
    display: inline-block;
    width: 32.3333333333%;
}

.related-description{
    resize: none;
    outline: none;
    width: 6.55rem;
    border: none;
    border-bottom: 0.01rem solid #cfcfcf;
    height: 2rem;
}
.submit-refund{
    display: block;
    width: 7.1rem;
    height: 0.9rem;
    margin: 0.5rem 0.2rem;
    background-color: #FF3649;
    color: #ffffff;
    border-radius: 0.12rem;
}
.icon-xuanzhong:before {
    content: "\e942";
    color: #09bb07;
}
.refund-money .icon-Arrow:before {
    color: #666464;
    font-size: 0.26rem;
    padding-left: 0.15rem;
}
.goods-status .icon-xuanzhong:before {

    color: #FF3649;
    font-size: 0.36rem;
    padding-right: 0.15rem;
}
.goods-status .icon-un-selected:before {

    font-size: 0.36rem;
    color: #666464;
    padding-right: 0.15rem;
}
.upLoaderBtn{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border: 0.01rem solid #CED1D0;
    border-radius: 0.15rem;
    box-sizing: border-box;
    background: url("../media/inputBtn.png") no-repeat;
    background-size: 1.6rem 1.6rem;
    overflow: hidden;
    margin-left: 0.1rem;
}
.upLoader{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    opacity: 0;
}


/* negotiation_record */
.record-list{
    background-color: #fff;
    border-radius: 0.2rem;
    font-size: 0.26rem;
    color: #9FA0A0;
    margin: 0.1rem 0.2rem;
}
.icon-dianpu:before {
    content: "\e911";
}
.record-list .icon-dianpu:before {
    color: #a0a0a0;
    font-size: 0.36rem;
    padding-right: 0.2rem;
}
.record-shops{
    padding: 0.2rem;
    border-bottom: 0.01rem solid #dddddd;
}
.shop-name{
    float: left;
}
.shop-name span{
    color: #3e3a39;
    font-weight: 700;
}
.record-date{
    float: right;
}
.record-detail{
    padding: 0.3rem 0.2rem;
}
.record-detail p{
    line-height: 0.26rem;
}
.record-operation{
    padding-top: 0.2rem;
}
.icon-wode-2:before {
    content: "\e95e";
}
.record-list .icon-wode-2:before {
    font-size: 0.36rem;
    padding-right: 0.2rem;
}
.record-type{
    padding-top: 0.1rem;
}


.placeholder-div{
    height: 0.1rem;
    width: 100%;
}





